<div class="cabinets">
	<div class="sidebar">
		<div class="profile">
			<div class="profile-img">
				<a href="#"><img src="%=static=%img/general/profile.png" alt=""></a>
			</div>
			<div class="profile-name">
				<h3>Владислав Григоренков</h3>
				<p>Поставщик</p>
			</div>
		</div>
		<div class="sidebar-menu">
			<nav>
				<ul>
					<li><a class="profile-icon active" href="cabinet.html">Профиль</a></li>
					<li><a class="company-icon" href="companies.html">Компании</a></li>
					<li><a class="purchase-icon" href="goverment-tenders.html">Закупки</a></li>
					<li><a class="tenders-icon" href="cabinet-tenders.html">Тендеры</a></li>
					<li><a class="notify-icon" href="notifications.html">уведомления</a></li>
					<li><a class="settings-icon" href="settings.html">Настройки</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="cabinet-inner">
		<div class="cabinet-head">
			<div class="cabinet-home">
				<div class="home">
					<a href="#"><img src="%=static=%img/general/home.png" alt=""></a>
				</div>
				<div class="notification">
					<a href="#"><img src="%=static=%img/general/notify.png" alt=""></a>
					<!-- <div class="notification-count">2</div> -->
				</div>
			</div>
			<div class="logo">
				<a href="#"><img src="%=static=%img/general/logo-main.png" alt=""></a>
			</div>
			<div class="cabinet-out">
				<a href="#"><img src="%=static=%img/general/logout.png" alt=""></a>
			</div>
		</div>
		<div class="companies-head">
			<div class="comp-head">Мои компании</div>
			<div class="comp-btn"><a href="#">добавить компанию</a></div>
		</div>
		<div class="companies-list">
			<div class="company">
				<div class="company-edit">
					<a href="#"><img src="%=static=%img/general/edit-company.png" alt=""></a>
				</div>
				<div class="company-wrap">
					<div class="company-name">
						<div class="comp-img">
							<a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>	
						</div>
						<div class="comp-name"><a href="#">ТОВ “Группировка Ленинград”</a></div>
					</div>
					<div class="company-properties">
						<ul>
							<li>Область: <span>Киевская</span></li>
							<li>Тип: <span>Киевская</span></li>
							<li>ЕДРПОУ: <span>Киевская</span></li>
							<li><span>Государственная компания</span></li>
						</ul>
					</div>
				</div>
				<div class="detail-btn">
					<a href="#">подробнее</a>
				</div>
			</div>
			<div class="company">
				<div class="company-edit">
					<a href="#"><img src="%=static=%img/general/edit-company.png" alt=""></a>
				</div>
				<div class="company-wrap">
					<div class="company-name">
						<div class="comp-img">
							<a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>	
						</div>
						<div class="comp-name">ТОВ “Группировка Ленинград”</div>
					</div>
					<div class="company-properties">
						<ul>
							<li>Область: <span>Киевская</span></li>
							<li>Тип: <span>Киевская</span></li>
							<li>ЕДРПОУ: <span>Киевская</span></li>
							<li><span>Государственная компания</span></li>
						</ul>
					</div>
				</div>
				<div class="detail-btn">
					<a href="#">подробнее</a>
				</div>
			</div>
			<div class="company">
				<div class="company-edit">
					<a href="#"><img src="%=static=%img/general/edit-company.png" alt=""></a>
				</div>
				<div class="company-wrap">
					<div class="company-name">
						<div class="comp-img">
							<a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>	
						</div>
						<div class="comp-name">ТОВ “Группировка Ленинград”</div>
					</div>
					<div class="company-properties">
						<ul>
							<li>Область: <span>Киевская</span></li>
							<li>Тип: <span>Киевская</span></li>
							<li>ЕДРПОУ: <span>Киевская</span></li>
							<li><span>Государственная компания</span></li>
						</ul>
					</div>
				</div>
				<div class="detail-btn">
					<a href="#">подробнее</a>
				</div>
			</div>
			<div class="company">
				<div class="company-edit">
					<a href="#"><img src="%=static=%img/general/edit-company.png" alt=""></a>
				</div>
				<div class="company-wrap">
					<div class="company-name">
						<div class="comp-img">
							<a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>	
						</div>
						<div class="comp-name">ТОВ “Группировка Ленинград”</div>
					</div>
					<div class="company-properties">
						<ul>
							<li>Область: <span>Киевская</span></li>
							<li>Тип: <span>Киевская</span></li>
							<li>ЕДРПОУ: <span>Киевская</span></li>
							<li><span>Государственная компания</span></li>
						</ul>
					</div>
				</div>
				<div class="detail-btn">
					<a href="#">подробнее</a>
				</div>
			</div>
			<div class="company">
				<div class="company-edit">
					<a href="#"><img src="%=static=%img/general/edit-company.png" alt=""></a>
				</div>
				<div class="company-wrap">
					<div class="company-name">
						<div class="comp-img">
							<a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>	
						</div>
						<div class="comp-name">ТОВ “Группировка Ленинград”</div>
					</div>
					<div class="company-properties">
						<ul>
							<li>Область: <span>Киевская</span></li>
							<li>Тип: <span>Киевская</span></li>
							<li>ЕДРПОУ: <span>Киевская</span></li>
							<li><span>Государственная компания</span></li>
						</ul>
					</div>
				</div>
				<div class="detail-btn">
					<a href="#">подробнее</a>
				</div>
			</div>
			<div class="company">
				<div class="company-edit">
					<a href="#"><img src="%=static=%img/general/edit-company.png" alt=""></a>
				</div>
				<div class="company-wrap">
					<div class="company-name">
						<div class="comp-img">
							<a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>	
						</div>
						<div class="comp-name">ТОВ “Группировка Ленинград”</div>
					</div>
					<div class="company-properties">
						<ul>
							<li>Область: <span>Киевская</span></li>
							<li>Тип: <span>Киевская</span></li>
							<li>ЕДРПОУ: <span>Киевская</span></li>
							<li><span>Государственная компания</span></li>
						</ul>
					</div>
				</div>
				<div class="detail-btn">
					<a href="#">подробнее</a>
				</div>
			</div>
		</div>
	</div>
</div>