<div class="cabinet-wrap">
  <div class="cabinets">
    {{> sidebar/sidebar}}
      <div class="companies-head">
        <div class="comp-head">Мои компании</div>
        <div class="comp-btn"><a class="btn-red" href="#">добавить компанию</a></div>
      </div>
      <div class="companies-list">
        <div class="company">
          <div class="company-edit">
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="company-wrap">
            <div class="company-name">
              <div class="comp-name"><a href="#">ТОВ “Группировка Ленинград”</a></div>
            </div>
            <div class="company-properties">
              <ul>
                <li>Область: <span>Киевская</span></li>
                <li>Тип: <span>Киевская</span></li>
                <li>ЕДРПОУ: <span>Киевская</span></li>
                <li><span>Государственная компания</span></li>
              </ul>
            </div>
          </div>
          <div class="detail-btn">
            <a href="#">подробнее</a>
          </div>
        </div>
        <div class="company">
          <div class="company-edit">
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="company-wrap">
            <div class="company-name">
              <div class="comp-img">
                <a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>
              </div>
              <div class="comp-name">ТОВ “Группировка Ленинград”</div>
            </div>
            <div class="company-properties">
              <ul>
                <li>Область: <span>Киевская</span></li>
                <li>Тип: <span>Киевская</span></li>
                <li>ЕДРПОУ: <span>Киевская</span></li>
                <li><span>Государственная компания</span></li>
              </ul>
            </div>
          </div>
          <div class="detail-btn">
            <a href="#">подробнее</a>
          </div>
        </div>
        <div class="company">
          <div class="company-edit">
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="company-wrap">
            <div class="company-name">
              <div class="comp-img">
                <a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>
              </div>
              <div class="comp-name">ТОВ “Группировка Ленинград”</div>
            </div>
            <div class="company-properties">
              <ul>
                <li>Область: <span>Киевская</span></li>
                <li>Тип: <span>Киевская</span></li>
                <li>ЕДРПОУ: <span>Киевская</span></li>
                <li><span>Государственная компания</span></li>
              </ul>
            </div>
          </div>
          <div class="detail-btn">
            <a href="#">подробнее</a>
          </div>
        </div>
        <div class="company">
          <div class="company-edit">
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="company-wrap">
            <div class="company-name">
              <div class="comp-img">
                <a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>
              </div>
              <div class="comp-name">ТОВ “Группировка Ленинград”</div>
            </div>
            <div class="company-properties">
              <ul>
                <li>Область: <span>Киевская</span></li>
                <li>Тип: <span>Киевская</span></li>
                <li>ЕДРПОУ: <span>Киевская</span></li>
                <li><span>Государственная компания</span></li>
              </ul>
            </div>
          </div>
          <div class="detail-btn">
            <a href="#">подробнее</a>
          </div>
        </div>
        <div class="company">
          <div class="company-edit">
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="company-wrap">
            <div class="company-name">
              <div class="comp-img">
                <a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>
              </div>
              <div class="comp-name">ТОВ “Группировка Ленинград”</div>
            </div>
            <div class="company-properties">
              <ul>
                <li>Область: <span>Киевская</span></li>
                <li>Тип: <span>Киевская</span></li>
                <li>ЕДРПОУ: <span>Киевская</span></li>
                <li><span>Государственная компания</span></li>
              </ul>
            </div>
          </div>
          <div class="detail-btn">
            <a href="#">подробнее</a>
          </div>
        </div>
        <div class="company">
          <div class="company-edit">
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="company-wrap">
            <div class="company-name">
              <div class="comp-img">
                <a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>	
              </div>
              <div class="comp-name">ТОВ “Группировка Ленинград”</div>
            </div>
            <div class="company-properties">
              <ul>
                <li>Область: <span>Киевская</span></li>
                <li>Тип: <span>Киевская</span></li>
                <li>ЕДРПОУ: <span>Киевская</span></li>
                <li><span>Государственная компания</span></li>
              </ul>
            </div>
          </div>
          <div class="detail-btn">
            <a href="#">подробнее</a>
          </div>
        </div>
        <div class="company">
          <div class="company-edit">
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="company-wrap">
            <div class="company-name">
              <div class="comp-img">
                <a href="#"><img src="%=static=%img/general/customer.png" alt=""></a>	
              </div>
              <div class="comp-name">ТОВ “Группировка Ленинград”</div>
            </div>
            <div class="company-properties">
              <ul>
                <li>Область: <span>Киевская</span></li>
                <li>Тип: <span>Киевская</span></li>
                <li>ЕДРПОУ: <span>Киевская</span></li>
                <li><span>Государственная компания</span></li>
              </ul>
            </div>
          </div>
          <div class="detail-btn">
            <a href="#">подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>