<div class="cabinet-wrap">
	<div class="cabinets">
     {{> sidebar/sidebar}}
			<div class="cabinet-tenders-head">
				<ul>
					<li><a class="plans" href="#">закупки</a></li>
					<li><a href="#">планы закупок</a></li>
				</ul>
			</div>
			<p class="create-company-head">список планов закупок:</p>
			<div class="cabinet-tenders">
				<div class="cabinet-tenders-list">
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
						<div class="detail-btn">
							<a href="#">подробнее</a>
						</div>
					</div>
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
						<div class="detail-btn">
							<a href="#">подробнее</a>
						</div>
					</div>
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
						<div class="detail-btn">
							<a href="#">подробнее</a>
						</div>
					</div>
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
						<div class="detail-btn">
							<a href="#">подробнее</a>
						</div>
					</div>
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
						<div class="detail-btn">
							<a href="#">подробнее</a>
						</div>
					</div>
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
						<div class="detail-btn">
							<a href="#">подробнее</a>
						</div>
					</div>
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
						<div class="detail-btn">
							<a href="#">подробнее</a>
						</div>
					</div>
					<div class="cabinet-tender">
						<div class="company-edit">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
						<div class="company-wrap">
							<div class="company-name">
								<a href="#">ТОВ “Группировка Ленинград”</a>
							</div>
							<div class="company-properties">
								<ul>
									<li>Компания: <span>ООО “Группировка Ленинград”</span></li>
									<li class="company-tender-price">256 242 676,51 грн</li>
								</ul>
							</div>
						</div>
						<div class="detail-btn">
							<a href="#">подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
