<div class="cabinet-wrap">
  <div class="cabinets">
    {{> sidebar/sidebar}}
      <div class="messages-head">
        Новых уведомлений: 1
      </div>
      <div class="cabinet-notifications">
        <div class="notifications-section">
          <p class="notifications-head">Уведомления</p>
          <div class="notification-item">
            <div class="notify-inner">
              <div class="notify-head">
                Завершение тендера
              </div>
              <div class="notify-body">
                Тендер <a href="#">Название будет вот тут ссылкой</a> завершен.
                <p>Вы можете <a href="#">перейти к получению</a> товара.</p>
              </div>
            </div>
          </div>
          <div class="notification-item">
            <div class="notify-inner">
              <div class="notify-head">
                Завершение тендера
              </div>
              <div class="notify-body">
                Тендер <a href="#">Название будет вот тут ссылкой</a> завершен.
                <p>Вы можете <a href="#">перейти к получению</a> товара.</p>
              </div>
            </div>
          </div>
          <div class="notification-item tender-remind">
            <div class="notify-inner">
              <div class="notify-head">
                Напоминание
              </div>
              <div class="notify-body">
                У Вас все еще есть несколько тендеров в <a href="#">избранном</a>.
                <p>Не забудьте принять участие до их окончания, либо удалить.</p>
              </div>
            </div>
          </div>
          <div class="notification-item tender-cancel">
            <div class="notify-inner">
              <div class="notify-head">
                Тендер отменен
              </div>
              <div class="notify-body">
                Тендер <a href="#">Название будет вот тут ссылкой</a> отменен.
                <p>Поставщик закрыл аукцион по причине использования черного рынка.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="messages-section">
          <p class="notifications-head">Сообщения EPU</p>
          <div class="notify-messages">
            <a class="delete-message" href="#"></a>
            <div class="message-head">
              EPU-support
            </div>
            <div class="message-body">
              Поздравляем! Профиль компании <a href="#">Название</a> успешно прошел проверку.
            </div>
          </div>
          <div class="notify-messages">
            <a class="delete-message" href="#"></a>
            <div class="message-head">
              EPU-support
            </div>
            <div class="message-body">
              У нас появилась новая супер функция. Вы с ума сойдете от ее необычайной крутости и опупезности.
            </div>
          </div>
          <div class="notify-messages">
            <a class="delete-message" href="#"></a>
            <div class="message-head">
              EPU-support
            </div>
            <div class="message-body">
              Поздравляем! Профиль компании <a href="#">Название</a> успешно прошел проверку.
            </div>
          </div>
          <div class="notify-messages">
            <a class="delete-message" href="#"></a>
            <div class="message-head">
              EPU-support
            </div>
            <div class="message-body">
              У нас появилась новая супер функция. Вы с ума сойдете от ее необычайной крутости и опупезности.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>