<div class="cabinets">
	<div class="sidebar">
		<div class="profile">
			<div class="profile-img">
				<a href="#"><img src="%=static=%img/general/profile.png" alt=""></a>
			</div>
			<div class="profile-name">
				<h3>Владислав Григоренков</h3>
				<p>Поставщик</p>
			</div>
		</div>
		<div class="sidebar-menu">
			<nav>
				<ul>
					<li><a class="profile-icon active" href="cabinet.html">Профиль</a></li>
					<li><a class="company-icon" href="companies.html">Компании</a></li>
					<li><a class="purchase-icon" href="goverment-tenders.html">Закупки</a></li>
					<li><a class="tenders-icon" href="cabinet-tenders.html">Тендеры</a></li>
					<li><a class="notify-icon" href="notifications.html">уведомления</a></li>
					<li><a class="settings-icon" href="settings.html">Настройки</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="cabinet-inner">
		<div class="cabinet-head">
			<div class="cabinet-home">
				<div class="home">
					<a href="#"><img src="%=static=%img/general/home.png" alt=""></a>
				</div>
				<div class="notification">
					<a href="#"><img src="%=static=%img/general/notify.png" alt=""></a>
					<!-- <div class="notification-count">2</div> -->
				</div>
			</div>
			<div class="logo">
				<a href="#"><img src="%=static=%img/general/logo-main.png" alt=""></a>
			</div>
			<div class="cabinet-out">
				<a href="#"><img src="%=static=%img/general/logout.png" alt=""></a>
			</div>
		</div>
		<div class="messages-head">
			Новых уведомлений: 1
		</div>
		<div class="cabinet-notifications">
			<div class="notifications-section">
				<p class="notifications-head">Уведомления</p>
				<div class="notification-item">
					<div class="notify-inner">
						<div class="notify-head">
							Завершение тендера
						</div>
						<div class="notify-body">
							Тендер <a href="#">Название будет вот тут ссылкой</a> завершен.
							<p>Вы можете <a href="#">перейти к получению</a> товара.</p>
						</div>
					</div>
				</div>
				<div class="notification-item">
					<div class="notify-inner">
						<div class="notify-head">
							Завершение тендера
						</div>
						<div class="notify-body">
							Тендер <a href="#">Название будет вот тут ссылкой</a> завершен.
							<p>Вы можете <a href="#">перейти к получению</a> товара.</p>
						</div>
					</div>
				</div>
				<div class="notification-item tender-remind">
					<div class="notify-inner">
						<div class="notify-head">
							Напоминание
						</div>
						<div class="notify-body">
							У Вас все еще есть несколько тендеров в <a href="#">избранном</a>.
							<p>Не забудьте принять участие до их окончания, либо удалить.</p>
						</div>
					</div>
				</div>
				<div class="notification-item tender-cancel">
					<div class="notify-inner">
						<div class="notify-head">
							Тендер отменен
						</div>
						<div class="notify-body">
							Тендер <a href="#">Название будет вот тут ссылкой</a> отменен.
							<p>Поставщик закрыл аукцион по причине использования черного рынка.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="messages-section">
				<p class="notifications-head">Сообщения EPU</p>
				<div class="notify-messages">
					<a class="delete-message" href="#"></a>
					<div class="message-head">
						EPU-support
					</div>
					<div class="message-body">
						Поздравляем! Профиль компании <a href="#">Название</a> успешно прошел проверку.
					</div>
				</div>
				<div class="notify-messages">
					<a class="delete-message" href="#"></a>
					<div class="message-head">
						EPU-support
					</div>
					<div class="message-body">
						У нас появилась новая супер функция. Вы с ума сойдете от ее необычайной крутости и опупезности.
					</div>
				</div>
				<div class="notify-messages">
					<a class="delete-message" href="#"></a>
					<div class="message-head">
						EPU-support
					</div>
					<div class="message-body">
						Поздравляем! Профиль компании <a href="#">Название</a> успешно прошел проверку.
					</div>
				</div>
				<div class="notify-messages">
					<a class="delete-message" href="#"></a>
					<div class="message-head">
						EPU-support
					</div>
					<div class="message-body">
						У нас появилась новая супер функция. Вы с ума сойдете от ее необычайной крутости и опупезности.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
