<footer>
	<div class="footer-top">
		<div class="inner">
			<div class="footer-menu">
				<nav>
					<ul>
						<li><a href="#">Тендеры</a></li>
						<li><a href="#">информация</a></li>
						<li><a href="#">о нас</a></li>
						<li><a href="#">новости</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer-social">
				<ul>
					<li><a class="facebook" href="#"><!-- <img src="%=static=%img/general/fb.png" alt=""> --></a></li>
					<li><a class="twitter" href="#"><!-- <img src="%=static=%img/general/twitter.png" alt=""> --></a></li>
					<li><a class="linkedin" href="#"><!-- <img src="%=static=%img/general/linkedin.png" alt=""> --></a></li>
					<li><a class="google" href="#"><!-- <img src="%=static=%img/general/google.png" alt=""> --></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="inner">
			<div class="footer-phones">
				<ul>
					<li><a href="tel:+38 (044) 000-00-00">+38 (044) 000-00-00</a></li>
					<li><a href="tel:+38 (044) 000-00-00">+38 (044) 000-00-00</a></li>
				</ul>
			</div>
			<div class="footer-emails">
				<ul>
					<li><a href="mailto:apuistudio@gmail.com">apuistudio@gmail.com</a></li>
					<li><a href="mailto:apuistudio@gmail.com">apuistudio@gmail.com</a></li>
				</ul>
			</div>
			<div class="footer-address">
				<p>23423, Киев, Украина</p>
				<p>ул. Жилянская, 101</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="inner">
			<div class="copyright">Copyright ©2016 EPU. All rights reserved.</div>
			<div class="developer"><p>Created by</p> <a href="#"><img src="%=static=%img/general/logo.png" alt=""></a></div>
		</div>
	</div>
</footer>