<div class="breadcrumbs">
	<div class="inner">
		<ul>
			<li><a href="#">Главная /</a></li>
			<li><a href="#"> Информация</a></li>
		</ul>
	</div>
</div>
<section class="information-wrap">
	<div class="inner">
		<div class="instructions-block">
			<div class="section-head">
				<h2>ИНСТРУКЦИИ</h2>
			</div>
			<div class="instructions">
				<div class="instruction person">
					<div class="instruction-head">
						<span>АВТОРИЗАЦИЯ</span>
					</div>
					<div class="instruction-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna klfdhgz ut</p>
					</div>
					<a class="instruction-btn" href="#">Read more</a>
				</div>
				<div class="instruction bucket">
					<div class="instruction-head">
						<span>ЗАКАЗЧИКУ</span>
					</div>
					<div class="instruction-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna klfdhgz ut</p>
					</div>
					<a class="instruction-btn" href="#">Read more</a>
				</div>
				<div class="instruction bucket1">
					<div class="instruction-head">
						<span>ПОСТАВЩИКУ</span>
					</div>
					<div class="instruction-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna klfdhgz ut</p>
					</div>
					<a class="instruction-btn" href="#">Read more</a>
				</div>
				<div class="instruction desk">
					<div class="instruction-head">
						<span>КАК СОЗДАТЬ ЗАКУПКУ</span>
					</div>
					<div class="instruction-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna klfdhgz ut</p>
					</div>
					<a class="instruction-btn" href="#">Read more</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="work">
	<div class="inner">
		<div class="section-head">
			<h2>Как работать с epu</h2>
			<p>Мы подготовили подробное описание регламента и нормативно-правовой базы для участия в тендерах. Если остались вопросы, воспользуйтесь услугой обратного звонка и мы свяжемся с вами в течение 5 минут.</p>
		</div>
	</div>
		<div class="videos">
			<div class="inner">
				<div class="videos-block">
					<div class="video">
						<video width="370" height="auto" controls="">
				 	  	<source  src="%=static=%video/video.mp4" type="video/mp4">
						</video>
					</div>
					<div class="video">
						<video width="370" height="auto" controls="">
						  <source src="%=static=%video/video.mp4" type="video/mp4">
						</video>
					</div>
					<div class="video">
						<video width="370" height="auto" controls="">
						  <source src="%=static=%video/video.mp4" type="video/mp4">
						</video>
					</div>
				</div>
			</div>
		</div>
		<div class="pdf-blocks">
			<div class="inner">
				<ul>
					<li><a href="#"><img src="%=static=%img/general/pdf.png" alt="#"><p>Инструкция-регламент.pdf</p></a></li>
					<li><a href="#"><img src="%=static=%img/general/pdf.png" alt="#"><p>Нормативная база.pdf</p></a></li>
					<li><a href="#"><img src="%=static=%img/general/pdf.png" alt="#"><p>Ответы на вопросы.pdf</p></a></li>
				</ul>
				<div class="btn-pdf">
					<a href="#">подробнее</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="questions-block">
	<div class="inner">
		<div class="section-head">
			<h2>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
		</div>
		<div class="questions">
			<div class="question">
				<button class="accordion">Сколько стоит регистрация одного предложения на участие в закупке?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Где ознакомиться с правилами участия в аукционе?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Кто может следить за состоянием аукциона?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Как принять участие в закупке, когда уже выдвинул предложение?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Могут ли быть зарегистрированными несколько лиц от одной компании?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Что такое ProZorro?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Система электронных закупок – что это?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Как работает ProZorro? По каким принципам?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Что такое электронная площадка?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Электронная цифровая подпись</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Что такое EPU?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Что такое “Качественные показатели”?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Что такое “тендерное обеспечение”?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
			<div class="question">
				<button class="accordion">Что такое “Верификация”?</button>
				<div class="panel">
				  <p>Подробная информация о формировании цен на предложение в участии в закупках содержится в разделе «Тарифы».</p>
				</div>
			</div>
		</div>
	</div>
</section>