
<section class="tenders">
	<div class="inner">
		<div class="section-head">
			<h2>Активные тендера</h2>
			<p>Выберайте интересующие Вас предложения: государственные, коммерческие, или просматривайте все.</p>
		</div>
		<div class="tenders-sort">
			<div class="types">
				<div class="all"><a class="active" href="#">Все</a></div>
				<div class="goverments"><a href="#">Государстственные</a></div>
				<div class="comercial"><a href="#">Коммерческие</a></div>
			</div>
			<div class="view">
				<ul>
					<li><a class="square-view" href="#"></a></li>
					<li><a class="lines-view" href="#"></a></li>
				</ul>
			</div>
		</div>
		<div class="all-tenders">
			<div class="tender tender-line">
				<div class="tender-bookmark">
					<a class="active" href="#!"></a>
				</div>
				<div class="tender-head">
					<h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
					<p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
					<div class="customer">
						<div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
						<div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
					</div>
				</div>
				<div class="tender-price">
					<div class="price">256 242 676,51 <span>грн</span></div>
					<span>общая цена</span>
					<div class="progress-bar">
						<progress max="100" value="80"></progress>
						<p>окончание: 21.07.1990 в 22:03</p>
					</div>
				</div>
				<div class="tender-btn">
					<a class="btn-white" href="#">Участвовать</a>
				</div>
			</div>
			<div class="tender tender-line">
				<div class="tender-bookmark">
					<a class="active" href="#!"></a>
				</div>
				<div class="tender-head">
					<h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
					<p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
					<div class="customer">
						<div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
						<div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
					</div>
				</div>
				<div class="tender-price">
					<div class="price">256 242 676,51 <span>грн</span></div>
					<span>общая цена</span>
					<div class="progress-bar">
						<progress max="100" value="80"></progress>
						<p>окончание: 21.07.1990 в 22:03</p>
					</div>
				</div>
				<div class="tender-btn">
					<a class="btn-white" href="#">Участвовать</a>
				</div>
			</div>
			<div class="tender tender-line">
				<div class="tender-bookmark">
					<a class="active" href="#!"></a>
				</div>
				<div class="tender-head">
					<h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
					<p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
					<div class="customer">
						<div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
						<div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
					</div>
				</div>
				<div class="tender-price">
					<div class="price">256 242 676,51 <span>грн</span></div>
					<span>общая цена</span>
					<div class="progress-bar">
						<progress max="100" value="80"></progress>
						<p>окончание: 21.07.1990 в 22:03</p>
					</div>
				</div>
				<div class="tender-btn">
					<a class="btn-white" href="#">Участвовать</a>
				</div>
			</div>
			<div class="tender tender-line">
				<div class="tender-bookmark">
					<a class="active" href="#!"></a>
				</div>
				<div class="tender-head">
					<h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
					<p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
					<div class="customer">
						<div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
						<div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
					</div>
				</div>
				<div class="tender-price">
					<div class="price">256 242 676,51 <span>грн</span></div>
					<span>общая цена</span>
					<div class="progress-bar">
						<progress max="100" value="80"></progress>
						<p>окончание: 21.07.1990 в 22:03</p>
					</div>
				</div>
				<div class="tender-btn">
					<a class="btn-white" href="#">Участвовать</a>
				</div>
			</div>
			<div class="tender tender-line">
				<div class="tender-bookmark">
					<a class="active" href="#!"></a>
				</div>
				<div class="tender-head">
					<h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
					<p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
					<div class="customer">
						<div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
						<div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
					</div>
				</div>
				<div class="tender-price">
					<div class="price">256 242 676,51 <span>грн</span></div>
					<span>общая цена</span>
					<div class="progress-bar">
						<progress max="100" value="80"></progress>
						<p>окончание: 21.07.1990 в 22:03</p>
					</div>
				</div>
				<div class="tender-btn">
					<a class="btn-white" href="#">Участвовать</a>
				</div>
			</div>
		</div>
		<div class="more-tenders">
			<a href="#" class="btn-red-icon">больше тендеров</a>
		</div>
	</div>
</section>
