
// USER

.sidebar{
	width: 270px;
	// position: fixed;
	top: 0;
	left: 0;
	background-color: $cabinet;
	box-sizing: border-box;
	padding-bottom: 150px;
}

.cabinets .logo{
	width: 110px;
	height: 80px;
	display: flex;
	align-items: flex-end;
}

.profile{
	display: flex;
	padding: 22px;
}

.profile-name{
	margin-left: 11px;
	padding-top: 8px;
	font-family: $Lato-Semibold;
	text-transform: uppercase;
	h3{
		color: $white;
		font-size: 12px;
	}
	p{
		margin-top: 5px;
	}
}

.sidebar-menu{
	background-color: #262832;
	a{
		padding: 25px;
		padding-left: 45px;
		display: block;
		border-bottom: 3px solid #24252f;
		font-family: $Lato;
		font-weight: 700;
		text-transform: uppercase;
		color: #a3a5a8;
		position: relative;
		transition: all .35s ease;
		&:before{
			content: '';
			position: absolute;
	    top: 25px;
    	left: 30px
		}
	}
}


.sidebar-menu{
	a{
		&:hover{
			background-color: $red1;
			color: $white;
			border-bottom: 3px solid $red1;
		}
	}
	a.active{
		background-color: $red1;
		color: $white;
		border-bottom: 3px solid $red1;
	}
}

// .profile-icon:hover,.profile-icon.active{
// 	&:before{
// 		@include bg($profile-icon);
// 	}
// }

// .profile-icon{
// 	&:before{
// 		@include bg($profile-icon-red);
// 	}
// }

// .company-icon{
// 	&:before{
// 		@include bg($company);
// 	}
// }

// .company-icon:hover, .profile-icon.active{
// 	&:before{
// 		@include bg($companies-hover);
// 	}
// }

// .purchase-icon{
// 	&:before{
// 		@include bg($purchase);
// 	}
// }

// .purchase-icon:hover, .purchase-icon.active{
// 	&:before{
// 		@include bg($cart-hover);
// 	}
// }

// .tenders-icon{
// 	&:before{
// 		@include bg($tender);
// 	}
// }

// .tenders-icon:hover, .tenders-icon.active{
// 	&:before{
// 		@include bg($paper-hover);
// 	}
// }

// .notify-icon{
// 	&:before{
// 		@include bg($bell);
// 	}
// }

// .notify-icon:hover, .notify-icon.active{
// 	&:before{
// 		@include bg($bell-hover);
// 	}
// }

// .settings-icon{
// 	&:before{
// 		@include bg($settings);
// 	}
// }

// .settings-icon:hover, .settings-icon.active{
// 	&:before{
// 		@include bg($settings-hover);
// 	}
// }

.step1	{
	display: flex;
	justify-content: space-between;
	// display: none;
}

.step1{
	background-color: #fff;
	padding: 20px;
}

.step3{
	// padding: 20px;
}

.measures, .options{
	padding: 20px;
	background-color: #fff;
}

.options{
	margin-top: 30px;
}

.step2, .step3{
	margin-top: 20px;
}

.sidebar-menu i{
	color: $red1;
	margin-right: 15px;
	font-size: 17px;
}

.sidebar-menu a:hover i, .sidebar-menu a.active i{
	color: #fff;
	transition: color .35s ease;
}

.cabinet-wrap{
	background-color: #d7dddf;
	padding: 20px 0 50px;
}

.cabinets{
	background-color: #f5f8f9;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.55);
}
.cabinet-inner{
	width: 1106px;
	margin: 0 auto;
	padding: 20px 20px 40px;
}

.home i, .notification i, .cabinet-out i{
	color: $text-p;
	font-size: 30px;
}

.cabinet-head a:hover i, .cabinet-head a.active i{
	color: $red1;
	transition: color .35s ease;
}

.notification i, .cabinet-out i{
	font-size: 25px;
}

.home, .notification{
	padding: 10px 0;
	    display: flex;
    align-items: center;
}
.home{
	padding-right: 20px;
	border-right: 2px solid #ebeef0;
}
.notification{
	padding-left: 20px;
	position: relative;
}

.notification-count{
  position: absolute;
  right: -9px;
  top: 17px;
  color: #fff;
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 10px;
  background: $red1;
}
.cabinet-out{
	padding-top: 30px;
}
.cabinet-head{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #ebeef0;
	padding-bottom: 20px;
	background-color: #fff;
	padding: 10px 15px;
}
.cabinet-home{
	display: flex;
}
// .user-head{
// 	font-size: $big-text;
// 	color: $cab-text;
// 	border-bottom: 2px solid #ebeeef;
// 	padding: 22px 0;
// }


.user{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.edit{
	display: flex;
	justify-content: space-between;
	font-family: $Lato-Semibold;
}
.edit-name{
	text-transform: uppercase;
	color: #86949b;
	margin-bottom: 20px;
}
.user-info{
	width: 100%;
	max-width: 620px;
}
.edit-icon{
	button{
		color: $red1;
		text-decoration: underline;
		position: relative;
		border: none;
		background: none;
		font-family: $Lato-Semibold;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: -27px;
			@include bg($edit);
		}
	}
}

.information{
	background-color: #fff;
	padding: 0 20px 40px 20px;
	ul{
		padding: 30px;
	}
	li{
		padding: 30px 0 15px 15px;
		border-bottom: 2px solid #dee8ea;
		color: #505a60;
		&:first-child{
			padding-top: 0;
		}
	}
	a{
		color: #505a60;
	}
}

.user-email{
	padding: 35px 0;
	padding-left: 30px;
	background-color: #fff;
	a{
		color: #262832;
		font-size: 16px;
		font-family: $Lato;
		font-weight: 700;
	}
}

// END OF USER


// COMPANIES

.companies-head{
	padding: 25px;
	display: flex;
	justify-content: space-between;
	font-size: $big-text;
	color: $cab-text;
	border-bottom: 2px solid #ebeeef;
	background-color: #fff;
}

.comp-btn{
	a{
		// @include button-red-icon;
		padding: 18px 23px 18px 54px;
		position: relative;
		&:before{
	    content: '+';
	    width: 19px;
	    height: 15px;
	    border: 1px solid #fff;
	    border-radius: 50%;
	    text-align: center;
	    padding-bottom: 4px;
	    display: flex;
	    position: absolute;
	    top: 19px;
	    left: 22px;
	    justify-content: center;
	    align-items: center;		}
	}
}

.company-name{
	display: flex;
	margin-bottom: 20px;
}
.companies-list, .cabinet-tenders-list{
	display: flex;
	flex-wrap: wrap;
}
.company, .cabinet-tender{
	max-width: 260px;
	background-color: $white;
	margin-top: 20px;
	margin-left: 22px;
	&:nth-child(4n+1){
		margin-left: 0;
	}
	&:first-child{
		margin-left: 0;
	}
}
.company-wrap{
	padding: 20px;
}
.company-edit{
	display: flex;
  justify-content: flex-end;
  i{
  	font-size: 17px;
    color: #bacbce;
  }
	a{
	  width: 32px;
	  height: 30px;
	  text-align: center;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  background-color: #dee8ea;
	}
}

.company-edit a:hover i{
	color: $red1;
	transition: color .35s ease;
}

.comp-name{
	margin-left: 10px;
	font-family: $Lato;
	font-weight: 700;
	color: $text-bold;
	a{
		color: $text-bold;
	}
}
.company-properties{
	min-height: 94px;
	li{
		margin-top: 10px;
		&:first-child{
			margin-top: 0;
		}
	}
	span{
		color: $text-bold;
	}
}

.detail-btn{
	border-top: 2px solid #f8fafb;
	padding: 16px 22px;
	a{
		color: $red1;
		text-transform: uppercase;
		font-family: $Lato;
		font-weight: 700;
		&:hover{
			text-decoration: underline;
		}
	}
}

// END OF COMPANIES


// CREATE COMPANY

.create-head{
	border-bottom: 2px solid #ebeeef;
	padding: 20px;
	background-color: #fff;
	a{
		padding-left: 23px;
		position: relative;
		color: #515b61;
		text-decoration: underline;
		&:before{
			content: '';
			position: absolute;
			left: 0px;
			@include bg($arrow-back);
		}
	}
}
.create-company-head{
	margin: 22px 0;
	text-transform: uppercase;
	color: #86949b;
	span{
		color: #515b61;
		font-family: $Lato-Black;
	}
}
.company-create{
	p{
		margin: 22px 0;
		text-transform: uppercase;
		color: #86949b;
	}
}
.company-create form{
	// display: flex;
	// justify-content: space-between;
}

.properties-head{
	border-bottom: 2px solid #f8fafb;
	padding: 20px 30px;
	font-family: $Lato-Semibold;
	font-size: 12px;
	text-transform: uppercase;
	color: $text;
}
.properties-all{
	padding: 20px 30px 100px;
}

.cabinets{
	display: flex;
	width: 1420px;
	margin: 0px auto;
	input, select{
		background: none;
		border: none;
		width: 100%;
		border-bottom: 1px solid #dee8ea;
		margin-top: 30px;
		color: #505a60;
		padding: 5px 0 5px 11px;;
	}

	option{
		color: #505a60;
		margin-top: 3px;
		outline: none;
		border-bottom: 1px solid #000;
	}
	::-webkit-input-placeholder {
		color: #505a60;
		font-family: $Lato-Semibold;
	}
	::-moz-placeholder{
		color: #505a60;
		font-family: $Lato-Semibold;
	 }/* Firefox 19+ */
	:-moz-placeholder{
		color: #505a60;
		font-family: $Lato-Semibold;
		}/* Firefox 18- */
	:-ms-input-placeholder{
		color: #505a60;
		font-family: $Lato-Semibold;
	}

.radio-customer, .radio-provider{
	display: flex;
	margin-top: 10px;
	input{
		width: auto;
		margin-top: 0;
	}
	label{
		margin-left: 10px;
		color: #505a60;
	}
	input{
		-webkit-appearance: none;
		background-color: #fff;
		border: 1px solid #cacece;
		border-radius: 50%;
		padding: 9px;
		display: inline-block;
		position: relative;
	}
	input:active, input:checked:active{
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}
	input:checked{
		background-color: $yellow;
		color: #fff;
		border: none;	
		padding: 10px;
	}
	input:checked:after{
		content: '';
		// @include bg($check);
		font-size: 14px;
		position: absolute;
		top: 6px;
		left: 4px;
		color: #fff;
	}
}

.check-confirm{
	display: flex;
	margin-top: 30px;
	position: relative;
	input{
		width: auto;
		margin-top: 0;
	}
	label{
		margin-left: 10px;
		color: #505a60;
		font-family: $Lato-Semibold;
		top: 0;
	}
	input{
		-webkit-appearance: none;
		background-color: #fff;
		border: 1px solid #cacece;
		// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		padding: 9px;
		border-radius: 3px;
		display: inline-block;
		position: relative;
	}
	input:active, input:checked:active{
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}
	input:checked{
		background-color: $yellow;
		// border: 1px solid #adb8c0;
		// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		color: #fff;
		border: none;	
		padding: 10px;
	}
	input:checked:after{
		content: '';
		@include bg($check);
		font-size: 14px;
		position: absolute;
		top: 6px;
		left: 4px;
		color: #fff;
	}
}

}

.common-properties{
	max-width: 480px;
	width: 100%;
	background-color: $white;
}

.right-wrap{
	max-width: 480px;
	width: 100%;
	// background-color: $white;
	.properties-all{
		padding-bottom: 20px;
	}
}
.create-contacts{
	background-color: #fff;
}
.create-location{
	margin-top: 20px;
	background-color: #fff;
}
.company-contact-name, .company-form1{
	input, select{
		// margin-top: 0;
	}
}

.create-btns{
	display: flex;
	margin-top: 30px;
}
.btn-save{
	button{
		border: none;
		font-size: 12px;
		font-family: $Lato-Semibold;
	}
}
.btn-cancel{
	margin-left: 15px;
	display: flex;
	align-items: center;
	a{
		color: #86949b;
		text-decoration: underline;
		font-family: $Lato-Semibold;
	}
}

.company-contact-city{
	display: flex;
}
.city1{
	width: 70%;
}
.index{
	width: 33%;
	margin-left: 20px;
}


// END OF CREATE COMPANY








// CABINET TENDERS

.cabinet-tenders-head{
	padding: 20px 0;
	background-color: #fff;
	ul{
		display: flex;
	}
	a{
		padding: 10px 0;
		padding-left: 10px;
		font-family: $Lato;
		font-weight: 700;
		text-transform: uppercase;
		color: #b8c2cc;
		transition: color .35s ease;
		&:hover{
			color: $red1;
		}
	}
	.plans{
	padding-right: 95px;
	border-right: 1px solid #ebeef0;
	}
}

.company-tender-price{
	font-family: $Lato;
	font-weight: 700;
	color: #3a4247;
}
.cabinet-tenders .company-properties{
	min-height: 55px;
}


.cabinet-tenders .company-name a{
	font-size: 16px;
	color: #3a4247;
	font-family: $Lato;
	font-weight: 700;
}
// END OF CABINET TENDERS





// CREATE PLAN

.customer-info{
	background-color: #fff;
	padding: 22px;
	p{
		padding: 10px;
		border-bottom: 1px solid #f8fafb;
		margin: 0;
		padding-top: 0;
		font-family: $Lato-Semibold;
		font-size: 12px;
		text-transform: uppercase;
	}
}
.customer-info-inputs form{
	display: flex;
	justify-content: space-between;
	padding-top: 18px;
}
.top-inputs{
	display: flex;
	justify-content: space-between;
}

.customer-info-inputs2{
	display: flex;
	justify-content: space-between;
}

.cust-left, .cust-right{
	width: 45%;
	input{
		width: 100%;
	}
	select{
	}
}
.cust-2{
	margin-top: 20px;
}
.name-buy input, .procedure-type select{
	// margin-top: 0;
}

.products-list{
	ul{
		margin-top: 20px;
	}
	li{
		margin-top: 15px;
		width: 45%;
		border-bottom: 2px solid #dee8ea;
		padding-bottom: 7px;
		&:first-child{
			margin-top: 0;
		}
	}
	a{
		font-family: $Lato-Semibold;
		color: $text-p;
	}
}

.product-item{
	width: 45%;
	position: relative;
	a{
		    position: absolute;
    top: 12px;
    right: -80px;
	}
}

.add-more{
	position: relative;
	font-family: $Lato;
	font-weight: 700;
	font-size: 12px;
	color: $red1;
	text-transform: uppercase;
	margin-left: 30px;
	margin-top: 20px;
	display: block;
	&:before{
		content: '+';
		position: absolute;
		left: -26px;
		width: 17px;
		height: 17px;
		background-color: $red1;
		color: #fff;
		border-radius: 50%;
		text-align: center;
		top: -2px;
		font-size: 13px;
		// @include bg($plus-red);
	}
}

.create-purchase-documentation{
	p{
		margin-top: 30px;
		font-size: 14px;
		font-family: $Lato-Semibold;
		color: #505a60;
		border: none;
		text-transform: none;
	}
	input[type="file"]{
		margin-top: 0;
		border: none;
    background: none;
    border: none;
    color: $red1;
    // border-bottom: 1px solid $red;
	}
}
.calendar-wrap{
	display: flex;
	justify-content: space-between;
}
.calendar-center{
	display: flex;
    align-items: flex-end;
}
.calendar-text{
	font-family: $Lato-Semibold;
	color: #505a60;
}
.calendar-left, .calendar-right{
	width: 40%;
}
.excepted-prices{
	display: flex;
	justify-content: space-between;
}
.excepted-price{
	width: 60%;
}
.excepted-currency{
	width: 28%;
}
.purchase{
	display: flex;
	justify-content: space-between;
}
.create-head .link-save{
	color: $red1;
	text-decoration: none;
	&:before{
		display: none;
	}
}

.goverment-head{
	background-color: #fff;
	padding: 20px 0;
	ul{
		display: flex;
		justify-content: space-around;
	}
	li{
		padding: 10px 40px 10px 18px;
		border-right: 1px solid #ebeef0;
	}
	a{
		font-family: $Lato;
		font-weight: 700;
		color: #b8c2cc;
		text-transform: uppercase;
		&:hover{
			color: $red1;
			transition: color .35s ease;
		}
		span{
			font-size: 11px;
		}
	}
	a.active{
		color: $red1;
	}
	.tenders-form{
		margin-top: 40px;
		padding: 0 20px;
	}
	input{
		margin-top: 0;
	}
}

.cabinets{
	.tender{
		margin-left: 21px;
		max-width: 260px;
	}
}

.find-tender-btn.find-icon{
 	button{
 		padding: 25px;
 		border-radius: 50%;
		&:before{
			left: 15px;
			// padding: 20px 2px 18px 36px;
			border-radius: 50%;
		}
	}
}



.cabinet-notifications{
	display: flex;
	justify-content: space-between;
}

.notifications-section{
	width: 66%;
}
.messages-section{
	width: 30%;
}

.notifications-head{
	margin: 22px 0;
  text-transform: uppercase;
  color: #86949b;
  border-bottom: 1px solid #f8fafb;
  background-color: #fff;
  margin-bottom: 0;
  padding: 18px 20px;
  font-family: $Lato-Semibold;
}

.notification-item{
	padding: 10px;
	background-color: #fff;
	border-bottom: 2px solid #f8fafb;
}

.notify-inner{
	background-color: $borders;
	padding: 10px 32px;
}

.notify-head{
	color: $green;
	position: relative;
	font-family: $Lato;
	font-weight: 700;
	&:before{
		content: '';
		position: absolute;
    left: -18px;
    top: 2px;
		@include bg($ok-icon);
	}
}

.notify-body{
	color: $text-bold;
	font-family: $Lato;
	font-weight: 700;
	margin-top: 13px;
	a{
		color: $red1;
	}
	p{
		margin-top: 5px;
		color: $text;
		a{
			text-decoration: underline;
			color: $text;
		}
	}
}

.tender-cancel{
	.notify-head{
		color: $red1;
		&:before{
			@include bg($no-icon);
		}
	}
}

.tender-remind{
	.notify-head{
		color: $yellow;
		&:before{
			@include bg($bell-icon);
		}
	}
}

.messages-head, .user-head{
  border-bottom: 2px solid #ebeeef;
  padding: 20px;
  background-color: #fff;
  font-size: 18px;
  color: #515b61;
}

.notify-messages{
	border-bottom: 2px solid #f8fafb;
	padding: 20px;
	background-color: #fff;
	position: relative;
	a{
		color: $red1;
	}
}

.message-head{
	color: $text;
	font-family: $Lato;
	font-weight: 700;
}

.message-body{
	margin-top: 15px;
	margin-bottom: 18px;
	color: $text-bold;
	font-family: $Lato;
	font-weight: 700;
	font-size: 12px;
}

.delete-message{
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	@include bg($delete-button);
}


.settings-head{
	padding: 22px 0;
	font-size: 18px;
	color: #515b61;
	background-color: #fff;
	padding: 20px;
}








// SETTINGS

.settings-section{
	display: flex;
	justify-content: space-between;
	color: #3a4247;
	font-family: $Lato-Semibold;
}

.section-heads{
	font-family: $Lato-Semibold;
	font-size: 12px;
	text-transform: uppercase;
	padding: 17px 20px;
	color: #86949b;
	letter-spacing: 1px;
	border-bottom: 2px solid #f8fafb;
}

.gender, .country	{
	padding: 17px 20px;
	display: flex;
	justify-content: space-between;
}

.gender{
	border-bottom: 2px solid #f8fafb;
}

.gender-left, .country-left{
	line-height: 40px;
}

.gender-right{
	display: flex;
	a{
    width: 40px;
    text-align: center;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: #dee8ea;
    align-items: center;
    justify-content: center;
    transition: background-color .35s ease;
    &:hover{
    	background-color: $red1;
    	color: #fff;
    }
	}
	a.active{
		background-color: $red1;
		color: #fff;
	}

}

.man{
	margin-right: 10px;
}

.left-settings{
	width: 66%;
}

.right-settings{
	width: 30%;
}

.personal-block{
	background-color: #fff;
}

.country-right{
	display: flex;
	a{
		display: block;
		width: 45px;
		height: 45px;
		background-color: #dee8ea;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color .35s ease;
		&:hover{
			background-color: $red1;
		}
	}
	a.active{
		background-color: $red1;
	}
}

.ukr, .rus{
	margin-right: 10px;
}

.email-notifications{
	background-color: #fff;
}

.email-notification{
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

.not-left{
	line-height: 40px;
}

// TOGGLE INPUT

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 36px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
  position: absolute;
  top: 3px;
}
input.cmn-toggle-round:checked + label:before {
  background-color: $yellow;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 28px;
}


// END OF TOGGLE INPUT


.change-password{
	margin-top: 13px;
	// padding: 20px;
	background-color: #fff;
	form{
		padding: 20px;
		padding-top: 0;
	}
	.section-head{
		padding-left: 0;
	}
}
.pass-btn{
	margin-top: 20px;
	text-align: center;
	a{
		color: #9ea9af;
		font-family: $Lato-Semibold;
		text-decoration: underline;
	}
}
.pass-back{
	text-align: center;
	margin-top: 10px;
}

.pass-btn a:hover{
	color: $red1;
	transition: color .35s ease;
}


.measure-wrap, .option-wrap{
	border-bottom: 2px solid #f8fafb;
	padding-bottom: 30px;
	width: 50%;
	position: relative;
	a{
		position: absolute;
    top: 12px;
    right: -80px;
	}
}

.measure-wrap > div, .option-wrap > div{
	// width: 50%;
}

.list-products{
	display: flex;
	justify-content: space-between;
}

.list-products.list3{
	padding: 20px;
	background-color: #fff;
}

.left-products, .right-products, .part1, .part2{
	width: 45%;
}

.excepted-value{
	margin-bottom: 30px;
}

.all-lots{
	margin-top: 30px;
}

.lot-head{
	border-bottom: 2px solid #dee8ea;
	// background-color: #f8fafb;
	padding: 20px;
	text-transform: uppercase;
	color: #86949b;
	display: flex;
  justify-content: space-between;
  font-family: $Lato-Semibold;
  i{
  	font-size: 19px;
  	color: #737980;
  }
}
.additional-lot .lot-head{
	background-color: #f8fafb;
}
.lot-bold{
	font-family: $Lato;
	font-weight: 700;
	font-size: 15px;
}

.lot-wrap{
	padding: 20px;
	background-color: #f8fafb;
}

.lot{
	margin-top: 30px;
	padding: 20px;
	background-color: #fff;
}

.additional-lot{
	margin-top: 30px;
}

.lot .list-products{
	input, select{
		margin-top: 15px;
	}
}

.lot .radio-customer input, .lot .radio-provider input{
	margin-top: 0;
}

.lot-left, .lot-right{
	width: 45%;
}

.parts-lot{
	display: flex;
	justify-content: space-between;
}

.lot-columns{
	display: flex;
	justify-content: space-between;
}

.all-lots{
	input, select{
    padding: 15px 0 15px 11px;
    background-color: #fff;
    margin-top: 0;
	}
	.select-wrapper input.select-dropdown{
		background-color: #fff;
		border-bottom: 1px solid #dee8ea;
		height: 3.2rem;
	}
	.select-wrapper span.caret{
		z-index: 1;
		top: 17px;
	}
}

.lot-center, .parts-lot{
	margin-top: 30px;
}

.parts-lot.additional{
	margin-top: 0;
}

.lots-full-width, .lot-full-left, .lot-full-right{
	display: flex;
	justify-content: space-between;
}

.lots-full-width{
	margin-top: 10px;
}

.lot-full-left, .lot-full-right{
	width: 45%;
}

.lot-full-left > div, .lot-full-right > div{
	width: 45%;
}

.lot-mt{
	margin-top: 30px;
}

.create-purchase-lot{
	display: flex;
	align-items: center;
	input{
		background: none;
		border: none;
	}
}

.customer-info.info3{
	background-color: #f6f8f9;
	padding: 0;
}

.lot-bolds{
	color: #262832;
	font-family: $Lato-Black;
}

.btn-save{
	margin-left: 10px;
}

.goods{
	.lot-head, .lot-wrap{
		background-color: #fff;
	}
}

.excepted-values{
	margin-bottom: 30px;
}





#form-purchase {

	position: relative;
}
#form-purchase fieldset {
	border: 0 none;
	border-radius: 3px;
	// box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	// padding: 20px 30px;
	box-sizing: border-box;
	// width: 80%;
	// margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#form-purchase fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
// #msform input, #msform textarea {
// 	padding: 15px;
// 	border: 1px solid #ccc;
// 	border-radius: 3px;
// 	margin-bottom: 10px;
// 	width: 100%;
// 	box-sizing: border-box;
// 	font-family: montserrat;
// 	color: #2C3E50;
// 	font-size: 13px;
// }
/*buttons*/
#form-purchase .action-button {
	font-family: "Lato-Semibold", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    padding: 18px 36px;
    background-color: #c1121c;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-family: "Lato-Semibold", Helvetica, Arial, sans-serif;
    width: 150px;
}

#form-purchase .previous {
	background-color: #c3cfd2;	
}
// #form-purchase .action-button:hover, #form-purchase .action-button:focus {
// 	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
// }
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.next-button, .prev-button{
	width: 150px;
	padding: 20px;
}

.form-wrap-main{
	display: flex;
	justify-content: space-between;
} 	