
@media screen and (max-width: 2500px){

}

@media screen and (max-width: 1600px) {
  .cabinets{
    width: 95%;
  }
  .cabinet-inner{
    width: 75%;
  }
  .user-info{
  	max-width: 460px;
  }
  .company, .cabinet-tender{
  	max-width: 270px;
  }
  .companies-list, .cabinet-tenders-list{
  	// justify-content: space-around;
  }
  .company:nth-child(4n+1), .cabinet-tender:nth-child(4n+1){
  	margin-left: 22px;
  }
  .company:nth-child(3n+1), .cabinet-tender:nth-child(3n+1){
  	margin-left: 0;
  }
  .all-tenders{
  	// justify-content: space-around;
  }
  .cabinets .tender{
  	max-width: 275px;
  }
  .cabinets .tender:nth-child(4n+1){
  	margin-left: 21px;
  }
  .cabinets .tender:nth-child(3n+1){
  	margin-left: 0;
  }
  .cabinets .tender{
  	max-width: 285px;
  	margin-left: 25;
  }
}


@media screen and (max-width: 1368px){
	.main{
		height: 420px;
	}
}

@media screen and (max-width: 1269px){
	.all-tenders{
		justify-content: space-around;
	}
	.cabinets .tender{
		margin-left: 25px;
	}

	.cabinets .tender:nth-child(3n+1){
		margin-left: 25px;
	}
	.cabinets .tender:nth-child(2n+1){
		margin-left: 0;
	}
}

@media screen and (max-width: 1200px){
	.inner{
		width: 950px;
	}
		.openMenu, .closebtn{
		display: none;
	}
	.logo{
		width: 125px;
	}

	.tender-input input{
		width: 360px;
	}

	.videos-block{
		flex-direction: column;
	}

	.video{
		margin: 0 auto;
	}

	.menu a{
		font-size: 14px;
	}

	.menu li{
		margin-left: 20px;
	}

	.btn-red{
		padding: 16px 25px;
	}

	.btn-white{
	  padding: 12px 27px;
	}

	.btn-create a{
	  padding: 14px 26px 14px;
	}

	.tender{
		max-width: 296px;
	}

	.tender.tender-line{
		max-width: 100%;
	}
	.tender-line .tender-head, .tender-line .tender-price{
		margin-top: 30px;
	}
	.tender-line .tender-head{
		max-width: 450px;
	}

	.tender:nth-child(4n+1){
		margin-left: 30px;
	}
	.tender:nth-child(3n+1){
		margin-left: 0;
	}

	.owl-prev{
		left: 0;
	}

	.owl-next{
		right: 0;
	}

	.owl-item{
		width: 200px;
	}

	.instruction{
		max-width: 250px;
	}
	.news-sidebar{
		// display: none;
	}
		.services-wrap{
		flex-wrap: wrap;
	}
	.service:nth-child(3){
		margin-top: 20px;
	}
	.news-block{
		max-width: 635px;
	}
	.news-img img{
		max-width: 100%;
		height: auto;
	}
	.news-sidebar{
		max-width: 290px;
	}
	.side-block{
		padding: 25px;
	}
	.side-list{
		padding-left: 17px;
	}
	.last-links ul{
		flex-direction: column;
	}
	.last-links li{
		padding: 0;
		margin-top: 10px;
	}
	.last-links li:first-child{
		border: none;
		margin-top: 0;
	}
	#form-company-create .form-wrap-main{
		flex-direction: column;
	}
	.form-wrap-main .common-properties, .form-wrap-main .right-wrap{
		max-width: 100%;
	}
	.input-calendar{
		margin-top: 30px;
	}
	.step1{
		flex-direction: column;
		.cust-left, .cust-right{
			width: 100%;
		}
	}
	.excepted-prices{
		flex-direction: column;
	}
	.excepted-price{
		width: 100%;
	}
	.excepted-currency{
		width: 100%;
	}
	.measure-wrap, .option-wrap{
		width: 90%;
	}
	.left-products, .right-products, .part1, .part2{
		width: 95%;
		margin-top: 10px;
	}

	.lot-full-left, .lot-full-right{
		width: 95%;
	}

	.lot-full-left > div, .lot-full-right > div{
		width: 100%;
		margin-top: 10px;
	}

	.parts-lot{
		flex-direction: column;
	}

	.part-lot{
		width: 95%;
	}

	.lots-full-width, .lot-full-left, .lot-full-right{
		flex-direction: column;
	}

	.lot-left, .lot-right{
		width: 100%;
	}

	.measure-wrap a, .option-wrap a{
		right: -60px;
	}

	.list-products{
		flex-direction: column;
	}

	.lot-columns{
		flex-direction: column;
	}

	.cabinets{
		width: 95%;
	}
	.cabinet-inner{
		width: 75%;
	}
		.user{
		flex-direction: column;
	}
	.user-img{
		order: 1;
		max-width: 375px;
		margin-bottom: 40px;
		img{
			max-width: 100%;
		}
	}
	.user-info{
		order: 2;
		max-width: 100%;
	}
	.user-email{
		padding-left: 18px;
	}
	.company, .cabinet-tender{
		margin-left: 20px;
		max-width: 280px;
	}
	.company:nth-child(3n+1), .cabinet-tender:nth-child(3n+1){
		margin-left: 20px;
	}
	.company:nth-child(2n+1), .cabinet-tender:nth-child(2n+1){
		margin-left: 0;
	}

	.top-inputs{
		flex-direction: column;
	}
	.customer-info-inputs2{
		flex-direction: column;
	}
	.cust-left, .cust-right{
		width: 90%;
	}
	.product-item{
		width: 85%;
	}
	.settings-section{
		flex-direction: column;
	}
	.left-settings{
		width: 100%;
	}
	.right-settings{
		margin-top: 15px;
		display: flex;
		width: 100%;
	}
	.change-password{
		margin-top: 30px;
		width: 48%;
		margin-left: 30px;
		&:first-child{
			margin-left: 0;
		}
	}
	.sidebar{
		width: 270px;
	}
}

@media screen and (max-width: 992px){
	.inner{
		width: 770px;
	}

	.main-head{
		left: 5%;
	}

.openMenu, .closebtn{
	display: flex;
}

	.tenders-form form{
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.contact-phones a{
		font-size: 14px;
	}

	.location i, .money i, .calendar i{
		margin-left: -5px;
	}

	.tender-input{
		order: 1;
		margin: 0 0 0 auto;
	}

	.filter{
		order: 3;
		margin-top: 20px;
		margin: 20px auto 0;
	}

	.dkpp{
		margin-left: 0;
	}

	.find-tender-btn{
		order: 2;
		margin: 0 auto 0 20px;
	}

	.all-tenders{
		justify-content: space-around;
	}

	.tender{
		margin-left: 0;
	}

	.tender.tender-line{
		max-width: 296px;
		flex-direction: column;
	}

	.tender-line .customer-name{
		line-height: 16px;
	}

	.tender-line .tender-btn{
		margin-top: 15px;
	}

	.tender-line .tender-price{
		margin-top: 10px;
	}

	.tender:nth-child(4n+1){
		margin-left: 0;
	}
	.app1, .app2{
		display: flex;
		align-items: center;
	}

	.app-advantages ul{
		margin-top: 75px;
	}

	.app-1 .app-text{
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.app-2{
		background-size: 85% 85%;
    background-position: center center;
	}

	.app-text{
		line-height: 30px;
	}

	.app-2 a{
		bottom: 170px;
		left: 51%;
	}

	.footer-menu a{
		padding-right: 10px;
	}

	.menu ul{
		flex-direction: column;
	}

	.menu li:first-child{
		margin-left: 20px;
	}
	.location a, .dkpp a, .cpv a, .money a, .calendar a{
		padding: 15px 10px;
	}

	.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
}
		.sidebar{
			height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  transition: 0.5s;
		  overflow-x: hidden;
		  padding-top: 30px;

		}

	.sidenav a{
	    padding: 3px 8px 3px 32px;
	    text-decoration: none;
	    font-size: 18px;
	    line-height: 50px;
	    color: #86949b;
	    display: block;
	    transition: 0.3s
	}

	.sidenav li{
		border-bottom: 2px solid #f8fafb;
	}

	.sidenav a:hover, .offcanvas a:focus{
	    color: $red1;
	}

	.closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 50px !important;
	    margin-left: 50px;
	}
	.cabinet-home .openMenu{
		background-color: #fff;
		color: #505a60;
		margin-top: 5px;
		margin-left: 10px;
	}
	.openMenu{
    font-size: 30px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    color: #fff;
    background: $yellow;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    order: 3;
    align-items: center;
	}
	.contacts-wrap{
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 570px;
	}
	.contact-text{
		margin-top: 20px;
	}
	.contact-item:nth-child(3), .contact-item:nth-child(4){
		margin-top: 30px;
	}
	button.accordion{
		padding-right: 50px;
	}
	div.panel{
		padding: 10px 15px;
	}
	.news-block{
		max-width: 490px;
	}
	.news-sidebar{
		max-width: 250px;
	}
	.sidebar{
		// display: none;
	}
	.cabinets{
		width: 95%;
	}
	.cabinet-inner{
		width: 90%;
	}
	.goverment-head li{
		padding: 10px;
	}
	.goverment-head a{
		font-size: 12px;
	}
	.goverment-head ul{
		// flex-direction: column;
	}
	.side-bar{
		width: 270px;
	}
	.main-menu{
		width: 90%;
	}
	.left-bar{
		margin-left: 270px;
	}
}

@media screen and (max-width: 768px){
	.inner{
		width: 550px;
	}

	.news-sidebar{
		display: none;
	}

	h1{
		font-size: 32px;
	}

	.main-head p{
		font-size: 16px;
	}

	.logo a{
		line-height: 80px;
	}

	.tender{
		width: 260px;
	}

	.advantages-items{
		flex-direction: column;
	}

	.app-2{
		background-image: none;
	}

	.app-2 a{
		top: -20px;
	}

	.advantage-item{
		width: 270px;
		margin: 0 auto;
		margin-top: 30px;
		&:first-child{
			margin-top: 0;
		}
	}

	.advantage-img{
		margin: 0 auto;
	}

	.advantage-text{
		justify-content: center;
	}

	.openMenu{
		width: 60px;
		height: 60px;
		margin-top: 10px;
	}
	.measure-wrap, .option-wrap{
		width: 85%;
	}
	.measure-wrap a, .option-wrap a{
		right: -50px;
	}

	.footer-top .inner{
		flex-direction: column;
	}

	.footer-bottom .inner{
		flex-direction: column;
	}

	.footer-emails, .footer-address{
		margin-top: 50px;
	}

	.instructions{
		margin-left: 70px;
	}

	.instruction{
		max-width: 370px;
	}
	.news-block{
		max-width: 100%;
	}
	.news-img img{
		max-width: 100%;
	}
	.news-head{
		font-size: 18px;
	}
	.relative-news-wrap{
		flex-direction: column;
	}
	.relative-simple-news{
		margin: 0 auto;
		margin-top: 30px;
		&:first-child{
			margin-top: 0;
		}
	}
	.inputs-comment{
		flex-direction: column;
	}
	.left-input, .right-input{
		width: 100%;
		input{
			width: 100%;
		}
	}
	.right-input{
		margin-top: 20px;
	}
	#comment-form input, #comment-form textarea{
		box-sizing: border-box;
	}
	.service{
		margin: 0 auto;
		margin-top: 30px;
	}
	.breadcrumbs{
		padding: 25px 0;
	}
	.breadcrumbs a{
		font-size: 14px;
	}
	.user-email{
		font-size: 15px;
	}
	.right-settings{
		width: 100%;
		display: flex;
	}
	.change-password{
		width: 48%;
	}
	.change-password:nth-child(2){
		margin-left: 30px;
	}
	.cabinet-notifications{
		flex-direction: column;
	}
	.notifications-section{
		width: 100%;
	}
	.messages-section{
		width: 100%;
	}
	.messages-head, .user-head{
		font-size: 14px;
	}
	.cabinet-home .openMenu{
		margin-top: 10px;
	}
	.company, .cabinet-tender{
		max-width: 240px;
	}
	.money-dropdown{
		right: 0;
		left: auto;
	}
	.money-dropdown:before{
		right: 28px;
		left: auto;
	}
}

@media screen and (max-width: 600px){
	.inner{
		width: 450px;
	}

	.cabinet{
		display: none;
	}

	.contacts-wrap{
		flex-direction: column;
	}
	.contact-item{
		margin: 0 auto;
		margin-top: 30px;
	}
	.contact-phones{
		margin-right: 0;
	}
	.contact-phones ul{
		flex-direction: column;
		margin-top: 10px;
	}
	.contact-phones li{
		line-height: 20px;
		margin-right: 15px;
	}
	.tenders-sort{
		flex-direction: column;
	}
	.view{
		display: none;
	}
	.tender-input{
		margin-left: 0;
	}
	.tender-input input{
		width: 320px;
	}
	.find-tender-btn{
		margin-left: 10px;
	}
	.find-tender-btn button{
		  padding: 18px 19px 18px 47px;
	}
	.filter{
		display: none;
	}
	.app-advantages{
		flex-direction: column;
	}
	.app-2{
		order: 1;
		height: auto;
	}
	.app-1{
		order: 2;
	}
	.app-3{
		order: 3;
	}
	.app-advantages li{
		margin-top: 20px;
	}
	.app-1 .app-text{
		order: 2;
		justify-content: flex-start;
		margin-left: 10px;
	}
	.app-3{
		.app-advantages ul{
		margin-top: 20px;
	}
}
	.news-links li{
		padding: 0 6px;
	}
	.app-advantages ul{
		// margin-top: 20px;
	}
	.app-advantages .advantage-ul{
		margin-top: 20px;
	}
	.app-3 .app-image{
		margin-left: 20px;
	}
	.app-3 .app-text{
	  margin-left: 10px;
  	display: flex;
  	align-items: center;
	}

	.owl-prev{
		left: -30px;
	}

	.owl-next{
		right: -30px;
	}
	.footer-menu li{
		margin-left: 15px;
	}
	.footer-menu a{
		font-size: 12px;
	}
	.companies-head{
		flex-direction: column;
	}
	.comp-btn{
		margin-top: 30px;
	}
	.comp-btn a{
		padding: 16px;
		font-size: 12px;
	}
	.comp-btn a:before{
		display: none;
	}
	.calendar-wrap{
		flex-direction: column;
	}
	.goverment-head ul{
		flex-direction: column;
	}
	.cabinets .tender:nth-child(2n){
		margin-left: 0;
	}
	.calendar-left, .calendar-right{
		width: 100%;
	}
	.calendar-right{
		input{
			margin-top: 0;
		}
	}
	.calendar-center{
		p{
			margin-left: 10px;
		}
	}
	.right-settings{
		flex-direction: column;
	}
	.change-password{
		width: 100%;
	}
	.change-password:nth-child(2){
		margin-left: 0;
	}
	.company, .cabinet-tender{
		margin-left: 0;
	}
	.product-item a{
		right: -60px;
	}
	.company:nth-child(2n+1), .cabinet-tender:nth-child(2n+1), .company:nth-child(3n+1), .cabinet-tender:nth-child(3n+1), .company, .cabinet-tender{
		margin: 10px auto;
	}
}
@media screen and (max-width: 480px){
	.inner{
		width: 360px;
	}
	.footer-menu{
		display: none;
	}
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 18px;
	}
	.main-head p{
		font-size: 14px;
	}
	.main-btns{
		flex-direction: column;
	}
	.btn-create{
		margin-left: 0;
		margin-top: 50px;
	}
	.openMenu{
		width: 50px;
		height: 50px;
		margin-top: 10px;
	}
	.header-bottom{
		padding: 12px 0;
	}
	.header-bottom .inner{
		flex-wrap: wrap;
	}
	.cabinet{
		order: 3;
		display: none;
	}
	.logo a{
		line-height: 55px;
	}
	.contact-phones:before{
		display: none;
	}
	.types{
		flex-wrap: wrap;
	}
	.comercial{
		margin-left: 0;
		margin-top: 10px;
	}
	.advantage-text{
		margin-top: 10px;
	}
	.section-head:before{
		top: 30px;
	}
	.section-head:after{
		top: 34px;
	}
	.tender{
		max-width: 100%;
		width: 100%;
	}
	.tender-input input{
		width: 290px;
	}
	.find-tender-btn button{
		color: transparent;
	  padding: 18px 0;
	  left: -10px;
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.find-tender-btn button:before{
		left: 16px;
	}
	.pdf-blocks ul{
		flex-direction: column;
		margin-left: 20px;
	}
	.pdf-blocks li{
		margin-top: 10px;
		&:first-child{
			margin-top: 0;
		}
	}
	.pdf-blocks p{
		margin-left: 10px;
	}
	.pdf-blocks a{
		display: flex;
	}
	.pdf-blocks img{
		width: 39px;
		height: 42px;
	}
	.footer-phones a, .footer-phones p, .footer-emails a, .footer-emails p, .footer-address a, .footer-address p{
		font-size: 14px;
	}
	.footer-copyright .inner{
		flex-direction: column;
	}
	.footer-menu a{
		font-size: 10px;
	}
	.footer-menu li{
		margin-left: 10px;
	}
	.footer-social ul{
		margin: 0 auto;
	}
	.language-switcher img{
		width: 25px;
		height: 25px;
	}
	.language-switcher a{
		padding: 8px;
	}
	.contact-phones ul{
		margin-top: 2px;
	}
	button.accordion{
		padding-right: 50px;
	}
	.instruction:before{
		left: -72px;
	}
	.news-links{
		flex-wrap: wrap;
	}
	.share{
		margin-left: 0;
		margin-top: 10px;
	}
	.owl-prev{
		left: 0;
	}
	.owl-next{
		right: 0;
	}
	.cabinets .logo{
		display: none;
	}
	.cabinet-out{
		padding-top: 15px;
	}
	.select-wrapper input.select-dropdown{
		padding-left: 10px;
		font-size: 12px;
	}
	.input-field label{
		padding-left: 10px;
		font-size: 12px;
	}
	.cabinet-inner{
		padding: 20px 10px 40px;
	}
	.lot{
		padding: 10px;
	}
	.list-products.list3{
		padding: 10px;
	}
	.lot-head{
		padding: 10px;
		span{
			font-size: 12px;
		}
	}
	.lot-wrap{
		padding: 10px;
	}
	.add-delete-btns{
		flex-direction: column;
	}
	.create-company-head{
		font-size: 12px;
	}
	#form-purchase .action-button{
		padding: 12px 19px;
		width: 120px;
	}
	.lot .lot-name{
		label{
			padding-left: 3px;
		}
		input{
			// margin-top: 0;
		}
	}
	.parts-lot{
		margin-top: 0;
	}
	.all-lots input, .all-lots select{
		font-size: 12px;
	}
	.gender, .country{
		flex-direction: column;
	}
	.not-left{
	  line-height: 21px;
	  font-size: 12px;
	  display: flex;
	  align-items: center;
	}
	.right-settings{
		width: 100%;
	}
	.notify-body{
		font-size: 12px;
	}
	.cabinets .tender-input input{
		width: 176px;
	  padding: 19px 0 17px 8px;
	}
	.cabinets .find-tender-btn.find-icon button{
		padding: 26px 25px;
		border-radius: 0;
	}
	.cabinet-home .openMenu{
		margin-top: 0;
	}
	.product-item a{
		right: -40px;
	}
	.customer-info{
		padding: 10px;
	}
	.name-buy label{
		padding-left: 2px;
	}
	.btn-save .btn-red{
		font-size: 10px;
		padding: 12px 9px;
	}
	.properties-all{
		padding: 20px 10px 30px;
	}
	.properties-all input, .properties-all .select-wrapper input.select-dropdown{
		width: 95%;
	}
	.properties-all .select-wrapper span.caret{
		right: 10px;
	}
	.cabinets .check-confirm label{
		top: 2px;
		margin-left: 2px;
	}
}

@media screen and (max-width: 400px){
	.inner{
		width: 300px;
	}
	.contact-phones a{
		font-size: 11px;
	}
	video{
		width: 270px;
		margin: 0 auto;
	}
	.footer-menu ul{
		flex-direction: column;
	}
	.tender-input input{
		width: 236px;
	}
	.comp-btn a{
		font-size: 12px;
		padding: 16px;
	}

}




