// Common styles of the project

html, body {
    height: 100%;
    color: $text;
    font-size: $normal-text;
}


// HEADERS
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
h1, h2{
	font-family: $MyriadPro-BoldCond;
}
h3{
	font-family: $Lato-Bold;
	margin: 0;
	color: $text-bold;
}
h1{
	font-size: $h1;
	color: $text-bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
h2{
	font-size: $h2;
}
h3{
	font-size: $h3;
}
ul{
	@include nl;
}
a, input, textarea, button, select{
	outline: none;
}
a{
	text-decoration: none;
	color: $text;
}

section{
	padding: 50px 0;
}

.inner{
	width: 1170px;
	margin: 0 auto;
}

//  HEADER

@import '_header.scss';
@import '_owl.scss';
@import '_main.scss';
@import '_footer.scss';
@import '_popup.scss';
@import '_input-fields';
@import '__select';
@import '_datemepicker.scss';
@import '_cabinet.scss';



//