
@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// BUTTONS

@mixin button-red-icon{
    padding: 18px 36px 18px 56px;
    background-color: $red1;
    text-transform: uppercase;
    color: $white;
    position: relative;
    border-radius: 5px;
}
@mixin button-red{
    font-family: $Lato-Semibold;
    letter-spacing: 1px;
    padding: 18px 36px;
    background-color: $red1;
    text-transform: uppercase;
    color: $white;
    border-radius: 5px;
}
@mixin button-white{
    color: $red1;
    padding: 15px 32px;
    text-transform: uppercase;
    border: 2px solid $red1;
    border-radius: 5px;
    background-color: $white;
    font-family: $Lato;
    font-weight: 700;
}

@mixin button-grey{
    font-family: $Lato-Semibold;
    font-size: $small-text;
    color: $text-bold;
    padding: 12px 23px;
    background-color: $block-bg;
    border-radius: 19px;
    letter-spacing: 1px;
    display: block;
}


// END BUTTONS

@mixin section-head($color1, $color2){
    text-align: center;
    position: relative;
    h2{
        color: $color1;
        text-transform: uppercase;
        position: relative; 
    }
    p{
        color: $color2;
        margin-top: 20px;
    }
    span{
        font-family: $Lato-Black;
    }
}


@mixin hover($color){
    &:hover{
        background-color: $color;
        transition: background-color .35s ease;
    }
}
@mixin hover-color($background, $color){
    &:hover{
        background-color: $background;
        color: $color;
        transition: all .35s ease;
    }
}
@mixin color($color){
    &:hover{
        color: $color;
    }
}


// You can add your own mixins here: