.services{
	.section-head{
		@include section-head($text-bold, $text);
	}
}

.services-block{
	background-color: #f5f8f9;
	padding: 30px 0;
	.inner{
		display: flex;
		justify-content: space-between;
	}
}

.service{
	max-width: 375px;
	font-family: $Lato-Semibold;
	font-size: 16px;
}

.service-img{
	text-align: center;
	min-height: 100px;
}

.service-img, .service-list{
	max-width: 355px;
	padding: 30px 0;
	margin: 0 10px;
	background-color: #fff;
}

.service-list{
	// height: 100%;
}

.service-title{
	padding: 20px 0;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background-color: $red1;
	max-width: 375px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: -8px;
		@include bg($rectangle-left);
	}
	&:after{
		content: '';
		position: absolute;
		right: -1px;
		top: -8px;
		@include bg($rectangle-right);
	}
}

.service-list{
	ul{
		list-style-type: disc;
		color: $red1;
		padding-left: 50px;
	}
	li{
		margin-top: 32px;
		&:first-child{
			margin-top: 0;
		}
	}
	span{
		color: $text-bold;
	}
}