<div class="cabinet-wrap">
  <div class="cabinets">
    <div class="sidebar">
      <div class="profile">
        <div class="profile-img">
          <a href="#"><img src="%=static=%img/general/profile.png" alt=""></a>
        </div>
        <div class="profile-name">
          <h3>Владислав Григоренков</h3>
          <p>Поставщик</p>
        </div>
      </div>
      <div class="sidebar-menu">
        <nav>
          <ul>
            <li>
              <a class="profile-icon active" href="cabinet.html">
              <i class="fa fa-user" aria-hidden="true"></i>
              Профиль
              </a>
            </li>
            <li><a class="company-icon" href="companies.html"><i class="fa fa-building" aria-hidden="true"></i>Компании</a></li>
            <li><a class="purchase-icon" href="goverment-tenders.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Закупки</a></li>
            <li><a class="tenders-icon" href="cabinet-tenders.html"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Тендеры</a></li>
            <li><a class="notify-icon" href="notifications.html"><i class="fa fa-bell" aria-hidden="true"></i>уведомления</a></li>
            <li><a class="settings-icon" href="settings.html"><i class="fa fa-cog" aria-hidden="true"></i>Настройки</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="cabinet-inner">
      <div class="cabinet-head">
        <div class="cabinet-home">
          <div class="home">
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
          </div>
          <div class="notification">
            <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
            <!-- <div class="notification-count">2</div> -->
          </div>
        </div>
        <div class="logo">
          <a href="#"><img src="%=static=%img/general/logo-main.png" alt=""></a>
        </div>
        <div class="cabinet-out">
          <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="settings-head">
        Настройки личного кабинета
      </div>
      <div class="settings-section">
        <div class="left-settings">
          <form id="personal-information" action="submit">
            <div class="personal-block">
              <div class="personal-head">
                <p class="section-heads">персональные данные</p>
              </div>
              <div class="gender">
                <div class="gender-left">Пол (для письменного обращения)</div>
                <div class="gender-right">
                  <a class="man active" href="#">М</a>
                  <a class="woman" href="#">Ж</a>
                </div>
              </div>
              <div class="country">
                <div class="country-left">Язык</div>
                <div class="country-right">
                  <a class="ukr active" href="#"><img src="%=static=%img/general/ukraine.png" alt=""></a>
                  <a class="rus" href="#"><img src="%=static=%img/general/russia.png" alt=""></a>
                  <a class="eng" href="#"><img src="%=static=%img/general/eng.png" alt=""></a>
                </div>
              </div>
            </div>
            <div class="email-notifications">
              <p class="section-heads">персональные данные</p>
              <div class="email-notification">
                <div class="not-left">Близится окончание времени тендера в “Избранном”.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-1"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Окончание времени Закупки.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-2"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Компания подтверждена.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-3"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Окончание тендера, в котором я участвую.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-4"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Закрытие тендера, в котором я участвую.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-5"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Опубликован мой комментарий к новости.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-6"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Новости от “EPU”.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-7"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="email-notifications">
              <p class="section-heads">оповещать меня по sms:</p>
              <div class="email-notification">
                <div class="not-left">Близится окончание времени тендера в “Избранном”.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-8" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-8"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Окончание времени Закупки.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-9" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-9"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Компания подтверждена.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-10" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-10"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Окончание тендера, в котором я участвую.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-11" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-11"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Закрытие тендера, в котором я участвую.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-12" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-12"></label>
                  </div>
                </div>
              </div>
              <div class="email-notification">
                <div class="not-left">Опубликован мой комментарий к новости.</div>
                <div class="not-right">
                  <div class="switch">
                    <input id="cmn-toggle-13" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-13"></label>
                  </div>
                </div>
              </div>
          </form>
          </div>
        </div>
        <div class="right-settings">
          <div class="change-password">
            <p class="section-heads">сменить пароль</p>
            <form action="submit" id="new-password">
              <div class="input-field">
                <input type="password" id="password-current">
                <label for="password-current">Текущий пароль</label>
              </div>
              <div class="input-field">
                <input type="password" id="password-new">
                <label for="password-new">Новый пароль</label>
              </div>
              <div class="input-field">
                <input type="password" id="password-again">
                <label for="password-again">Пароль еще раз</label>
              </div>
              <div class="pass-btn">
                <button class="btn-white" form="new-password" type="submit">сменить пароль</button>
                <div class="pass-back"><a href="#">Забыли пароль?</a></div>
              </div>
            </form>
          </div>
          <div class="change-password">
            <p class="section-heads">сменить email</p>
            <form action="submit" id="new-email">
              <div class="input-field">
                <input type="email" id="email-current">
                <label for="email-current">Текущий Email</label>
              </div>
              <div class="input-field">
                <input type="email" id="email-new">
                <label for="email-new">Новый Email</label>
              </div>
              <div class="pass-btn">
                <button class="btn-white" form="new-email" type="submit">сменить e-mail</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="create-btns">
        <div class="btn-save">
          <button class="btn-red" form="personal-information">Сохранить изменения</button>
        </div>
      </div>
    </div>
  </div>
</div>