<div class="breadcrumbs">
	<div class="inner">
		<ul>
			<li><a href="#">Главная /</a></li>
			<li><a href="#"> Информация</a></li>
		</ul>
	</div>
</div>
<section class="services">
	<div class="inner">
		<div class="section-head">
			<h2>услуги</h2>
			<p>Электронная Платформа Украины и наши официальные партнеры* предоставляют участникам тендеров следующие дополнительные услуги.</p>
		</div>
	</div>
	<div class="services-block">
		<div class="inner">
			<div class="services-wrap">
				<div class="service">
					<div class="service-img">
						<img src="%=static=%img/general/chart.png" alt="">
					</div>
					<div class="service-title">Анализ и мониторинг</div>
					<div class="service-list">
						<ul>
							<li><span>Экспресс-анализ эффективности сделки;</span></li>
							<li><span>Мониторинг тендерных предложений по заданным параметрам;</span></li>
							<li><span>Аналитическая отчетность по отдельным отраслям, и сегментам тендерной деятельности.</span></li>
						</ul>
					</div>
				</div>
				<div class="service">
					<div class="service-img">
						<img src="%=static=%img/general/case.png" alt="">
					</div>
					<div class="service-title">Юридические услуги</div>
					<div class="service-list">
						<ul>
							<li><span>Подготовка к тендеру - сбор полного пакета необходимых документов;</span></li>
							<li><span>Сопровождение сделки, урегулирование разного рода конфликтных ситуаций, разрешение споров, переговоры с контрагентами и госорганами.</span></li>
						</ul>
					</div>
				</div>
				<div class="service">
					<div class="service-img">
						<img src="%=static=%img/general/money-desk.png" alt="">
					</div>
					<div class="service-title">Консалтинг</div>
					<div class="service-list">
						<ul>
							<li><span>Поддержка аналитического отдела - сбор и анализ информации, рекомендации по принятию решений;</span></li>
							<li><span>Разрешение нестандартных ситуаций, спорных вопросов;</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="services-text">
				<p>Консультации, связанные с вышеперечисленными услугами, предоставляются по телефону или в нашем офисе, <span>первая консультация бесплатна</span>.</p>
				<p class="additional">* Желающих поучаствовать в партнерской программе ЭПУ просим обращаться в наш колл-центр.</p>
				<p class="additional">** услуги партнеров</p>
			</div>
		</div>
	</div>
</section>
<section class="callback">
	<div class="inner">
		<div class="section-head">
			<h2>на связи</h2>
			<p>Если у Вас есть вопросы, воспользуйтесь формой обратной связи</p>
		</div>
		<div class="callback-form">
			<form action="submit" id="form-callback">
				<div class="name">
					<input type="text" placeholder="Ваше имя">
				</div>
				<div class="email">
					<input type="text" placeholder="Email/Телефон">
				</div>
				<div class="comment">
					<textarea name="" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="form-submit">
					<button form="form-callback" class="btn-red" type="submit">отправить</button>
				</div>
			</form>
		</div>
	</div>
</section>