<div class="breadcrumbs">
	<div class="inner">
		<ul>
			<li><a href="#">Главная /</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</div>
</div>
<section class="contacts">
	<div class="inner">
		<div class="section-head">
			<h2>Наши контакты</h2>
		</div>
		<div class="contacts-wrap">
			<div class="contact-item">
				<div class="contact-img">
					<img src="%=static=%img/general/contact-phone.png" alt="">
				</div>
				<div class="contact-text">
					<ul>
						<li><a href="tel:+38 (044) 000-00-00">+38 (044) 000-00-00</a></li>
						<li><a href="tel:+38 (044) 000-00-00">+38 (044) 000-00-00</a></li>
					</ul>
				</div>
			</div>
			<div class="contact-item">
				<div class="contact-img">
					<img src="%=static=%img/general/contact-email.png" alt="">
				</div>
				<div class="contact-text">
					<ul>
						<li><a href="mailto:apustudio@gmail.com">apustudio@gmail.com</a></li>
						<li><a href="mailto:apustudio@gmail.com">apustudio@gmail.com</a></li>
					</ul>
				</div>
			</div>
			<div class="contact-item">
				<div class="contact-img">
					<img src="%=static=%img/general/contact-location.png" alt="">
				</div>
				<div class="contact-text">
					23423, Киев, Украина
					ул. Жилянская, 101
				</div>
			</div>
			<div class="contact-item contact-socials">
				<div class="contact-img">
					<img src="%=static=%img/general/chat.png" alt="">
				</div>
				<div class="contact-text">
					<ul>
						<li><a href="#"><img src="%=static=%img/general/contact-fb.png" alt=""></a></li>
						<li><a href="#"><img src="%=static=%img/general/contact-tw.png" alt=""></a></li>
						<li><a href="#"><img src="%=static=%img/general/contact-goo.png" alt=""></a></li>
						<li><a href="#"><img src="%=static=%img/general/contact-in.png" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="callback contacts-form">
	<div class="inner">
		<div class="section-head">
			<h2>на связи</h2>
			<p>Если у Вас есть вопросы, воспользуйтесь формой обратной связи</p>
		</div>
		<div class="callback-form">
			<form action="submit">
				<div class="name">
					<input type="text" placeholder="Ваше имя">
				</div>
				<div class="email">
					<input type="text" placeholder="Email/Телефон">
				</div>
				<div class="comment">
					<textarea name="" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="form-submit">
					<button class="btn-red" type="submit">отправить</button>
				</div>
			</form>
		</div>
	</div>
</section>