<div class="cabinets">
  <div class="sidebar">
    <div class="profile">
      <div class="profile-img">
        <a href="#"><img src="%=static=%img/general/profile.png" alt=""></a>
      </div>
      <div class="profile-name">
        <h3>Владислав Григоренков</h3>
        <p>Поставщик</p>
      </div>
    </div>
    <div class="sidebar-menu">
      <nav>
        <ul>
          <li><a class="profile-icon active" href="cabinet.html">Профиль</a></li>
          <li><a class="company-icon" href="companies.html">Компании</a></li>
          <li><a class="purchase-icon" href="goverment-tenders.html">Закупки</a></li>
          <li><a class="tenders-icon" href="cabinet-tenders.html">Тендеры</a></li>
          <li><a class="notify-icon" href="notifications.html">уведомления</a></li>
          <li><a class="settings-icon" href="settings.html">Настройки</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="cabinet-inner">
    <div class="cabinet-head">
      <div class="cabinet-home">
        <div class="home">
          <a href="#"><img src="%=static=%img/general/home.png" alt=""></a>
        </div>
        <div class="notification">
          <a href="#"><img src="%=static=%img/general/notify.png" alt=""></a>
          <!-- <div class="notification-count">2</div> -->
        </div>
      </div>
      <div class="logo">
        <a href="#"><img src="%=static=%img/general/logo-main.png" alt=""></a>
      </div>
      <div class="cabinet-out">
        <a href="#"><img src="%=static=%img/general/logout.png" alt=""></a>
      </div>
    </div>
    <div class="create-head">
      <a href="#">Назад</a>
    </div>
    <p class="create-company-head">создание плана закупок</p>
    <form action="submit" id="form-plan">
	    <div class="create-plan-inputs">
	      <div class="customer-info">
	        <p>информация о заказчике</p>
	        <div class="customer-info-inputs1">
	          <div class="top-inputs">
	            <div class="cust-left">
	              <div class="select-company input-field">
	                <select name="" id="">
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                </select>
	              </div>
	            </div>
	            <div class="cust-right input-field">
	              <input type="text" id="full-address">
	              <label for="full-address">Полный адрес</label>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="create-plan-inputs">
	      <div class="middle-inputs">
	        <div class="customer-info cust-2">
	          <p>информация о предмете закупки</p>
	          <div class="customer-info-inputs2">
	            <div class="cust-left">
	              <div class="name-buy input-field">
	                <input type="text" id="concrete-name">
	                <label for="concrete-name">Конкретное название предмета закупки</label>
	              </div>
	              <div class="waiting-cost input-field">
	                <input type="text" id="waiting-cost">
	                <label for="waiting-cost">Ожидаемая стоимость</label>
	              </div>
	              <div class="currency">
	                <select name="" id="">
	                  <option value="" selected="">Валюта</option>
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                </select>
	              </div>
	              <div class="year input-field">
	                <input type="text" id="year">
	                <label for="year">Год</label>
	              </div>
	              <div class="oriented-time">
	                <select name="" id="">
	                  <option value="" selected="">Ориентировочное начало проведения</option>
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                </select>
	              </div>
	            </div>
	            <div class="cust-right">
	              <div class="procedure-type">
	                <select name="" id="">
	                  <option value="" selected="">Тип процедур</option>
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                  <option value="" selected="">Компания</option>
	                </select>
	              </div>
	              <div class="full-adres input-field">
	                <input type="text" id="full-adres">
	                <label for="full-adres">Полный адрес</label>
	              </div>
	              <div class="dkpp-cab input-field">
	                <input type="text" id="dkpp">
	                <label for="dkpp">ДКПП</label>
	              </div>
	              <div class="kekv-cab input-field">
	                <input type="text" id="kekv">
	                <label for="kekv">КЕКВ</label>
	              </div>
	              <div class="notices input-field">
	                <input type="text" id="notices">
	                <label for="notices">Заметки</label>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="create-plan-inputs">
	      <div class="bottom-inputs">
	        <div class="customer-info cust-2">
	          <p>информация о заказчике</p>
	          <div class="products-list">
	            <ul>
	              <li><a href="#">Часы наручные обыкновенные</a></li>
	              <li><a href="#">Название предмета закупки</a></li>
	            </ul>
	            <a href="#" class="add-more">добавить еще</a>
	          </div>
	        </div>
	      </div>
	    </div>
    </form>
    <div class="create-btns">
      <div class="btn-save">
        <button form="form-plan">Сохранить компанию</button>
      </div>
      <div class="btn-cancel">
        <a href="#">Отмена</a>
      </div>
    </div>
  </div>
</div>
