<section class="main">
  <div class="inner">
    <div class="main-head">
      <h1>Электронная Платформа Украины</h1>
      <p>Закупать и продавать товары теперь еще проще</p>
      <div class="main-btns">
        <div class="btn-take">
          <a class="btn-red" href="#!">Участвовать</a>
        </div>
        <div class="btn-create">
          <a class="btn-white" href="#!">Создать тендер</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="search-tenders">
  <div class="inner">
    <div class="section-head">
      <h2>Найдите свой тендер</h2>
      <p>Введите в фильтр дополнительную информацию о тендере: код классификации продукции ДКПП (резидентам), CPV – (не резидентам), а также <span>дополнительную</span> информацию,<span> регион, стоимость и дату</span> оформления.</p>
    </div>
    <div class="tenders-form">
      <form action="submit">
        <div class="tender-input">
          <input type="search" placeholder="Начните вводить текст">
        </div>
        <div class="filter">
          <div class="dkpp">
            <a href="#">ДКПП</a>
          </div>
          <div class="cpv">
            <a href="#!" id="CPVPopup">CPV</a>
          </div>
          <div class="location">
            <a href="#!"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
            <div class="location-dropdown">
              <div class="location-head">
                <input type="text" placeholder="Начните вводить регион">
              </div>
              <div class="location-dropdowns">
                <ul>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                  <li>
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="city">Винницкая обл.</div>
                  </li>
                </ul>
              </div>
              <div class="location-btn"><button type="submit">Выбрать</button></div>
            </div>
          </div>
          <div class="money">
            <a href="#!"><i class="fa fa-usd" aria-hidden="true"></i></a>
            <div class="money-dropdown">
              <div class="money-wrap">
                <div class="money-left">
                  <label for="">Цена от:</label>
                  <input type="number">
                </div>
                <div class="money-left">
                  <label for="">Цена до:</label>
                  <input type="number">
                </div>
              </div>
              <div class="money-btn">
                <button class="btn-red">Выбрать</button>
              </div>
            </div>
          </div>
          <div class="calendar">
            <a href="#!"><i class="fa fa-calendar" aria-hidden="true"></i></a>
            <div class="calendar-picker">
              <div class="calendar-wraps		">
                <div class="date-begin">
                  <label for="date-begin">Дата начала:</label>
                  <input name="date-begin" id="date_timepicker_start" type="text" placeholder="Выберите дату начала">
                </div>
                <div class="date-end">
                  <label for="date-end">Дата окончания:</label>
                  <input name="date-end" id="date_timepicker_end" type="text" placeholder="Выберите дату конца">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="find-tender-btn">
          <button class="btn-red-icon">искать</button>
        </div>
    </div>
    </form>

  </div>
</section>
<section class="tenders">
  <div class="inner">
    <div class="section-head">
      <h2>Активные тендера</h2>
      <p>Выберайте интересующие Вас предложения: государственные, коммерческие, или просматривайте все.</p>
    </div>
    <div class="tenders-sort">
      <div class="types">
        <div class="all"><a class="" href="#!">Все</a></div>
        <div class="goverments"><a href="#!">Государстственные</a></div>
        <div class="comercial"><a href="#!">Коммерческие</a></div>
      </div>
      <div class="view">
        <ul>
          <li><a class="square-view active" href="#!"></a></li>
          <li><a class="lines-view" href="#!"></a></li>
        </ul>
      </div>
    </div>
    <div class="all-tenders">
      <div class="tender">
        <div class="tender-bookmark">
          <a class="active" href="#!"></a>
        </div>
        <div class="tender-head">
          <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
          <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
          <div class="customer">
            <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
            <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
          </div>
        </div>
        <div class="tender-price">
          <div class="price">256 242 676,51 <span>грн</span></div>
          <span>общая цена</span>
          <div class="progress-bar">
            <progress max="100" value="80"></progress>
            <p>окончание: 21.07.1990 в 22:03</p>
          </div>
        </div>
        <div class="tender-btn">
          <a class="btn-white" href="#">Участвовать</a>
        </div>
      </div>
      <div class="tender">
        <div class="tender-bookmark">
          <a href="#!"></a>
        </div>
        <div class="tender-head">
          <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
          <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
          <div class="customer">
            <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
            <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
          </div>
        </div>
        <div class="tender-price">
          <div class="price">256 242 676,51 <span>грн</span></div>
          <span>общая цена</span>
          <div class="progress-bar">
            <progress max="100" value="80"></progress>
            <p>окончание: 21.07.1990 в 22:03</p>
          </div>
        </div>
        <div class="tender-btn">
          <a class="btn-white" href="#">Участвовать</a>
        </div>
      </div>
      <div class="tender">
        <div class="tender-bookmark">
          <a class="active" href="#!"></a>
        </div>
        <div class="tender-head">
          <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
          <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
          <div class="customer">
            <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
            <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
          </div>
        </div>
        <div class="tender-price">
          <div class="price">256 242 676,51 <span>грн</span></div>
          <span>общая цена</span>
          <div class="progress-bar">
            <progress max="100" value="80"></progress>
            <p>окончание: 21.07.1990 в 22:03</p>
          </div>
        </div>
        <div class="tender-btn">
          <a class="btn-white" href="#">Участвовать</a>
        </div>
      </div>
      <div class="tender">
        <div class="tender-bookmark">
          <a href="#!"></a>
        </div>
        <div class="tender-head">
          <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
          <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
          <div class="customer">
            <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
            <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
          </div>
        </div>
        <div class="tender-price">
          <div class="price">256 242 676,51 <span>грн</span></div>
          <span>общая цена</span>
          <div class="progress-bar">
            <progress max="100" value="80"></progress>
            <p>окончание: 21.07.1990 в 22:03</p>
          </div>
        </div>
        <div class="tender-btn">
          <a class="btn-white" href="#">Участвовать</a>
        </div>
      </div>
      <div class="tender">
        <div class="tender-bookmark">
          <a href="#!"></a>
        </div>
        <div class="tender-head">
          <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
          <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
          <div class="customer">
            <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
            <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
          </div>
        </div>
        <div class="tender-price">
          <div class="price">256 242 676,51 <span>грн</span></div>
          <span>общая цена</span>
          <div class="progress-bar">
            <progress max="100" value="80"></progress>
            <p>окончание: 21.07.1990 в 22:03</p>
          </div>
        </div>
        <div class="tender-btn">
          <a class="btn-white" href="#">Участвовать</a>
        </div>
      </div>
      <div class="tender">
        <div class="tender-bookmark">
          <a class="active" href="#!"></a>
        </div>
        <div class="tender-head">
          <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
          <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
          <div class="customer">
            <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
            <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
          </div>
        </div>
        <div class="tender-price">
          <div class="price">256 242 676,51 <span>грн</span></div>
          <span>общая цена</span>
          <div class="progress-bar">
            <progress max="100" value="80"></progress>
            <p>окончание: 21.07.1990 в 22:03</p>
          </div>
        </div>
        <div class="tender-btn">
          <a class="btn-white" href="#">Участвовать</a>
        </div>
      </div>
      <div class="tender">
        <div class="tender-bookmark">
          <a href="#!"></a>
        </div>
        <div class="tender-head">
          <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
          <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
          <div class="customer">
            <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
            <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
          </div>
        </div>
        <div class="tender-price">
          <div class="price">256 242 676,51 <span>грн</span></div>
          <span>общая цена</span>
          <div class="progress-bar">
            <progress max="100" value="80"></progress>
            <p>окончание: 21.07.1990 в 22:03</p>
          </div>
        </div>
        <div class="tender-btn">
          <a class="btn-white" href="#">Участвовать</a>
        </div>
      </div>
      <div class="tender">
        <div class="tender-bookmark">
          <a class="active" href="#!"></a>
        </div>
        <div class="tender-head">
          <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
          <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
          <div class="customer">
            <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
            <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
          </div>
        </div>
        <div class="tender-price">
          <div class="price">256 242 676,51 <span>грн</span></div>
          <span>общая цена</span>
          <div class="progress-bar">
            <progress max="100" value="80"></progress>
            <p>окончание: 21.07.1990 в 22:03</p>
          </div>
        </div>
        <div class="tender-btn">
          <a class="btn-white" href="#">Участвовать</a>
        </div>
      </div>
    </div>
    <div class="more-tenders">
      <a href="#" class="btn-red-icon">больше тендеров</a>
    </div>
  </div>
</section>
<section class="advantages">
  <div class="inner">
    <div class="section-head">
      <h2>преимущества работы с epu</h2>
      <p>Мы заботимся о своих клиентах, и создали наиболее удобные условия сотрудничества с нашей компанией:</p>
    </div>
    <div class="advantages-items">
      <div class="advantage-item">
        <div class="advantage-img">
          <img src="%=static=%img/general/guarante.png" alt="">
        </div>
        <div class="advantage-text">
          <h3>Банковская гарантия</h3>
        </div>
      </div>
      <div class="advantage-item">
        <div class="advantage-img">
          <img src="%=static=%img/general/desk.png" alt="">
        </div>
        <div class="advantage-text">
          <h3>
            Комплексный анализ
            <p>эффективности сделки</p>
          </h3>
        </div>
      </div>
      <div class="advantage-item">
        <div class="advantage-img">
          <img src="%=static=%img/general/search.png" alt="">
        </div>
        <div class="advantage-text">
          <h3>
            Предоставление
            <p>аналитических отчетов</p>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="work">
  <div class="inner">
    <div class="section-head">
      <h2>Как работать с epu</h2>
      <p>Мы подготовили подробное описание регламента и нормативно-правовой базы для участия в тендерах. Если остались вопросы, воспользуйтесь услугой обратного звонка и мы свяжемся с вами в течение 5 минут.</p>
    </div>
  </div>
  <div class="videos">
    <div class="inner">
      <div class="videos-block">
        <div class="video">
          <video width="370" height="auto" controls="">
            <source  src="%=static=%video/video.mp4" type="video/mp4">
          </video>
        </div>
        <div class="video">
          <video width="370" height="auto" controls="">
            <source src="%=static=%video/video.mp4" type="video/mp4">
          </video>
        </div>
        <div class="video">
          <video width="370" height="auto" controls="">
            <source src="%=static=%video/video.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="pdf-blocks">
    <div class="inner">
      <ul>
        <li>
          <a href="#">
            <img src="%=static=%img/general/pdf.png" alt="#">
            <p>Инструкция-регламент.pdf</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="%=static=%img/general/pdf.png" alt="#">
            <p>Нормативная база.pdf</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="%=static=%img/general/pdf.png" alt="#">
            <p>Ответы на вопросы.pdf</p>
          </a>
        </li>
      </ul>
      <div class="btn-pdf">
        <a href="#">подробнее</a>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="app">
  <div class="inner">
    <div class="section-head">
      <h2>приложение epu</h2>
      <p>Наша команда разработала для Вас удобное приложение с полным функционалом. Скачивайте прямо сейчас.</p>
    </div>
    <div class="app-advantages">
      <div class="app-1">
        <ul>
          <li>
            <div class="app-text">Удобный личный кабинет</div>
            <div class="app-image"><img src="%=static=%img/general/key.png" alt=""></div>
          </li>
          <li>
            <div class="app-text">Приятный дизайн</div>
            <div class="app-image"><img src="%=static=%img/general/brush.png" alt=""></div>
          </li>
          <li>
            <div class="app-text">Новости бизнеса онлайн</div>
            <div class="app-image"><img src="%=static=%img/general/news.png" alt=""></div>
          </li>
        </ul>
      </div>
      <div class="app-2">
        <a href="#"><img src="%=static=%img/general/play.png" alt=""></a>
      </div>
      <div class="app-3">
        <ul class="advantage-ul">
          <li>
            <div class="app-image"><img src="%=static=%img/general/registration.png" alt=""></div>
            <div class="app-text">Быстрая регистрация</div>
          </li>
          <li>
            <div class="app-image"><img src="%=static=%img/general/cloud.png" alt=""></div>
            <div class="app-text">Бесплатное скачивание</div>
          </li>
          <li>
            <div class="app-image"><img src="%=static=%img/general/notification.png" alt=""></div>
            <div class="app-text">Уведомления о процессах</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="clients">
  <div class="inner">
    <div class="section-head">
      <h2>Наши клиенты</h2>
      <p>С которыми мы уже сотрудничаем</p>
    </div>
    <div class="slider">
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide1.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide2.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide3.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide4.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide5.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide1.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide2.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide3.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide4.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide5.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide1.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide2.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide3.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide4.jpg" alt=""></a>
      </div>
      <div class="slide">
        <a href="#"><img src="%=static=%img/content/slide5.jpg" alt=""></a>
      </div>
    </div>
  </div>
</section>
<section class="callback">
  <div class="inner">
    <div class="section-head">
      <h2>на связи</h2>
      <p>Если у Вас есть вопросы, воспользуйтесь формой обратной связи</p>
    </div>
    <div class="callback-form">
      <form action="submit">
        <div class="name">
          <input type="text" placeholder="Ваше имя">
        </div>
        <div class="email">
          <input type="text" placeholder="Email/Телефон">
        </div>
        <div class="comment">
          <textarea name="" id="" placeholder="Комментарий"></textarea>
        </div>
        <div class="form-submit">
          <button class="btn-red" type="submit">отправить</button>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="overlay-popup" id="auth-popup" style="display: none;">
  <div class="auth-popup log-in">
    <span class="close-popups">×</span>
    <div class="log-reg">
      <div class="login log-btn">
        <a href="#">Войти</a>
      </div>
      <div class="registration log-btn">
        <a href="#">Зарегистрироваться</a>
      </div>
    </div>
    <div class="auth-wrap first">
      <p class="auth-head">Вход</p>
      <div class="registration-inputs">
        <div class="reg-email">
          <input type="email" placeholder="Email">
        </div>
        <div class="reg-password">
          <input type="password" placeholder="Пароль">
        </div>
        <div class="reg-type">
          <div class="reg-dropdown">
             <select name="" id="">
              <option value="" selected="">Я поставщик</option>
              <option value="">Я поставщик</option>
              <option value="">Я заказчик</option>
            </select>
          </div>
        </div>
      </div>
      <div class="btn-reg-a">
        <button type="submit">Войти</button>
      </div>
      <div class="forgive"><a href="#">Забыли пароль?</a></div>
    </div>
    <div class="auth-wrap second">
      <p class="auth-head">Регистрация</p>
      <div class="registration-inputs">
        <div class="reg-email">
          <input type="email" placeholder="Email">
        </div>
        <div class="reg-type">
          <div class="reg-dropdown">
             <select name="" id="">
              <option value="" selected="">Я поставщик</option>
              <option value="">Я поставщик</option>
              <option value="">Я заказчик</option>
            </select>
          </div>
        </div>
      </div>
      <div class="rules">
        <div class="checkbox-rules"><input type="checkbox"></div>
        <div class="check-offer">Соглашаюсь с правилами публичной
          <a href="#">офферты</a>
        </div>
      </div>
      <div class="btn-reg">
        <button type="submit">Зарегистрироваться</button>
      </div>
    </div>
  </div>
  <!-- 	<div class="auth-popup registration-in">
    <div class="log-reg">
    	<div class="login">
    		<a href="#">Войти</a>
    	</div>
    	<div class="registration">
    		<a href="#">Зарегистрироваться</a>
    	</div>
    </div>
    <div class="auth-wrap second">
    	<p class="auth-head">Регистрация</p>
    	<div class="registration-inputs">
    		<div class="reg-email">
    			<input type="email" placeholder="Email">
    		</div>
    		<div class="reg-type">
    			<div class="reg-dropdown">
    				<p>Я заказчик</p><span class="dropdown-toggle"></span>
    				<ul class="hidden-types">
    					<li><a href="#">Я заказчик</a></li>
    					<li><a href="#">Я поставщик</a></li>
    				</ul>
    			</div>
    		</div>
    		</div>
    		<div class="rules">
    			<div class="checkbox-rules"><input type="checkbox"></div><div class="check-offer">Соглашаюсь с правилами публичной
    <a href="#">офферты</a></div>
    		</div>
    		<div class="btn-reg">
    			<button type="submit">Зарегистрироваться</button>
    		</div>
    	</div>
    </div> -->
</div>
    <div class="cpv-popup" id="productsIDTypePopup" style="display: none">
              <span class="close-popup">×</span>
              <p class="popup-head">Классификация кода продукции </p>
              <div class="input-popup">
                <input type="search" name="search" placeholder="Введите код">
                <button>Найти</button>
              </div>
              <div class="tree">
                <ul class="tree__list">
                  <li class="tree__list-item">
                    <label class="item-label" for="">
                      <input class="item-checkbox" type="checkbox">
                      <!-- <span class="item-checkbox__fake"></span> -->
                      <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                      <!-- <span class="tree__toggle"></span> -->
                    </label>
                    <span class="tree__toggle"></span>
                    <ul class="tree__list">
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                        <ul class="tree__list">
                          <li class="tree__list-item">

                            <label for="">
                              <input type="checkbox">
                              <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                            </label>
                            <span class="tree__toggle"></span>
                          </li>
                          <li class="tree__list-item">
                            <label for="">
                              <input type="checkbox">
                              <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                            </label>
                            <span class="tree__toggle"></span>
                          </li>
                          <li class="tree__list-item">
                            <label for="">
                              <input class="item-checkbox" type="checkbox">
                              <!-- <span class="item-checkbox__fake"></span> -->
                              <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                            </label>
                            <span class="tree__toggle"></span>
                          </li>
                        </ul>
                      </li>
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                      <li class="tree__list-item">
                        <label for="">
                          <input class="item-checkbox" type="checkbox">
                          <!-- <span class="item-checkbox__fake"></span> -->
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                    </ul>
                  </li>
                  <li class="tree__list-item">
                    <label for="">
                      <input type="checkbox">
                      <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                    </label>
                    <span class="tree__toggle"></span>
                    <ul class="tree__list">
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                    </ul>
                  </li>
                  <li class="tree__list-item">
                    <label for="">
                      <input type="checkbox">
                      <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                    </label>
                    <span class="tree__toggle"></span>
                    <ul class="tree__list">
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                    </ul>
                  </li>
                  <li class="tree__list-item">
                    <label for="">
                      <input type="checkbox">
                      <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                    </label>
                    <span class="tree__toggle"></span>
                    <ul class="tree__list">
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                      <li class="tree__list-item">
                        <label for="">
                          <input type="checkbox">
                          <span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                        </label>
                        <span class="tree__toggle"></span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="popup-btns">
                <a href="#" class="choose">Выбрать</a>
                <a href="#" class="escape">Отмена</a>
              </div>
              <div class="choosen">
                <ul class="choosen-list">
                  <li><span>01 - Продукция сельского...</span><a href="#">| ×</a></li>
                  <li><span>01 - Продукция сельского...</span><a href="#">| ×</a></li>
                  <li>01 - Продукция сельского...</li>
                </ul>
              </div>
            </div>