<!-- POPUPS -->
<section class="test">
	

<div class="cpv-popup" id="productsIDTypePopup">
            	<span class="close-popup">×</span>
            	<p class="popup-head">Классификация кода продукции </p>
            	<div class="input-popup">
            		<input type="search" name="search" placeholder="Введите код">
            		<button>Найти</button>
            	</div>
            	<div class="tree">
            		<ul class="tree__list">
            			<li class="tree__list-item">
            				<label class="item-label" for="">
            					<input class="item-checkbox" type="checkbox">
            					<!-- <span class="item-checkbox__fake"></span> -->
            					<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            					<!-- <span class="tree__toggle"></span> -->
            				</label>
            				<span class="tree__toggle"></span>
            				<ul class="tree__list">
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
                        <ul class="tree__list">
                					<li class="tree__list-item">

                						<label for="">
                							<input type="checkbox">
                							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                						</label>
                						<span class="tree__toggle"></span>
                					</li>
                					<li class="tree__list-item">
                						<label for="">
                							<input type="checkbox">
                							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                						</label>
                						<span class="tree__toggle"></span>
                					</li>
                					<li class="tree__list-item">
                						<label for="">
                							<input class="item-checkbox" type="checkbox">
                							<!-- <span class="item-checkbox__fake"></span> -->
                							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
                						</label>
                						<span class="tree__toggle"></span>
                					</li>
                				</ul>
            					</li>
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            					<li class="tree__list-item">
            						<label for="">
            							<input class="item-checkbox" type="checkbox">
            							<!-- <span class="item-checkbox__fake"></span> -->
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            				</ul>
            			</li>
            			<li class="tree__list-item">
            				<label for="">
            					<input type="checkbox">
            					<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            				</label>
            				<span class="tree__toggle"></span>
            				<ul class="tree__list">
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            				</ul>
            			</li>
            			<li class="tree__list-item">
            				<label for="">
            					<input type="checkbox">
            					<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            				</label>
            				<span class="tree__toggle"></span>
            				<ul class="tree__list">
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            				</ul>
            			</li>
            			<li class="tree__list-item">
            				<label for="">
            					<input type="checkbox">
            					<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            				</label>
            				<span class="tree__toggle"></span>
            				<ul class="tree__list">
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            					<li class="tree__list-item">
            						<label for="">
            							<input type="checkbox">
            							<span class="item-text">01 - Продукція сільського господарства, мисливства та пов’язані з цим послуги</span>
            						</label>
            						<span class="tree__toggle"></span>
            					</li>
            				</ul>
            			</li>
            		</ul>
            	</div>
            	<div class="popup-btns">
            		<a href="#" class="choose">Выбрать</a>
            		<a href="#" class="escape">Отмена</a>
            	</div>
            	<div class="choosen">
            		<ul class="choosen-list">
            			<li><span>01 - Продукция сельского...</span><a href="#">| ×</a></li>
            			<li><span>01 - Продукция сельского...</span><a href="#">| ×</a></li>
            			<li>01 - Продукция сельского...</li>
            		</ul>
            	</div>
            </div>
 </section>



<!-- <div class="location-dropdown">
	<div class="location-head">
		<input type="text" placeholder="Начните вводить регион">
	</div>
	<div class="location-dropdowns">
		<ul>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
			<li><div class="checkbox"><input type="checkbox"></div><div class="city">Винницкая обл.</div></li>
		</ul>
	</div>
	<div class="location-btn"><button type="submit">Выбрать</button></div>
</div>