<div class="cabinet-wrap">
	<div class="cabinets">
		{{> sidebar/sidebar }}
			<div class="user-head">
				Мой профиль
			</div>
			<div class="user">
				<div class="user-info">
					<div class="edit">
						<div class="edit-name">Контактное лицо:</div>
						<div class="edit-icon"><button form="information-edit">Править</button></div>
					</div>
					<div class="information">
						<form action="submit" id="information-edit"></form>
							<div class="information-name">
								<input type="text" placeholder="Владислав">
							</div>
							<div class="information-name">
								<input type="text" placeholder="Григоренков">
							</div>
							<div class="information-name">
								<input type="text" placeholder="Старший менеджер">
							</div>
							<div class="information-phone">
								<input type="number" placeholder="+380 (66) 123 - 45 - 67">
							</div>
							<div class="information-site">
								<input type="url" placeholder="www.my-website.com">
							</div>
						</form>
						<!-- <ul>
							<li>Владислав</li>
							<li>Григоренков</li>
							<li>Старший менеджер</li>
							<li>+380 (66) 123 - 45 - 67</li>
							<li><a href="#">www.my-website.com</a></li>
						</ul> -->
					</div>
				</div>
				<div class="user-img">
				<div class="edit-name">Фотография</div>
					<div><img src="%=static=%img/content/user.jpg" alt=""></div>
					<div class="user-email"><a href="mailto:email-address.sample@gmail.com">email-address.sample@gmail.com</a></div>
				</div>
			</div>
		</div>
	</div>
</div>