<div class="cabinets">
	<div class="sidebar">
		<div class="profile">
			<div class="profile-img">
				<a href="#"><img src="%=static=%img/general/profile.png" alt=""></a>
			</div>
			<div class="profile-name">
				<h3>Владислав Григоренков</h3>
				<p>Поставщик</p>
			</div>
		</div>
		<div class="sidebar-menu">
			<nav>
				<ul>
					<li><a class="profile-icon" href="cabinet.html">Профиль</a></li>
					<li><a class="company-icon" href="companies.html">Компании</a></li>
					<li><a class="purchase-icon" href="goverment-tenders.html">Закупки</a></li>
					<li><a class="tenders-icon" href="cabinet-tenders.html">Тендеры</a></li>
					<li><a class="notify-icon" href="notifications.html">уведомления</a></li>
					<li><a class="settings-icon" href="settings.html">Настройки</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="cabinet-inner">
		<div class="cabinet-head">
			<div class="cabinet-home">
				<div class="home">
					<a href="#"><img src="%=static=%img/general/home.png" alt=""></a>
				</div>
				<div class="notification">
					<a href="#"><img src="%=static=%img/general/notify.png" alt=""></a>
					<!-- <div class="notification-count">2</div> -->
				</div>
			</div>
			<div class="logo">
				<a href="#"><img src="%=static=%img/general/logo-main.png" alt=""></a>
			</div>
			<div class="cabinet-out">
				<a href="#"><img src="%=static=%img/general/logout.png" alt=""></a>
			</div>
		</div>
		<div class="user-head">
			Мой профиль
		</div>
		<div class="user">
			<div class="user-info">
				<div class="edit">
					<div class="edit-name">Контактное лицо:</div>
					<div class="edit-icon"><a href="#">Править</a></div>
				</div>
				<div class="information">
					<ul>
						<li>Владислав</li>
						<li>Григоренков</li>
						<li>Старший менеджер</li>
						<li>+380 (66) 123 - 45 - 67</li>
						<li><a href="#">www.my-website.com</a></li>
					</ul>
				</div>
			</div>
			<div class="user-img">
			<div class="edit-name">Фотография</div>
				<div><img src="%=static=%img/content/user.jpg" alt=""></div>
				<div class="user-email"><a href="mailto:email-address.sample@gmail.com">email-address.sample@gmail.com</a></div>
			</div>
		</div>
	</div>
</div>