<div class="cabinet-wrap">
  <div class="cabinets">
    <div class="sidebar">
      <div class="profile">
        <div class="profile-img">
          <a href="#"><img src="%=static=%img/general/profile.png" alt=""></a>
        </div>
        <div class="profile-name">
          <h3>Владислав Григоренков</h3>
          <p>Поставщик</p>
        </div>
      </div>
      <div class="sidebar-menu">
        <nav>
          <ul>
            <li>
              <a class="profile-icon active" href="cabinet.html">
              <i class="fa fa-user" aria-hidden="true"></i>
              Профиль
              </a>
            </li>
            <li><a class="company-icon" href="companies.html"><i class="fa fa-building" aria-hidden="true"></i>Компании</a></li>
            <li><a class="purchase-icon" href="goverment-tenders.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Закупки</a></li>
            <li><a class="tenders-icon" href="cabinet-tenders.html"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Тендеры</a></li>
            <li><a class="notify-icon" href="notifications.html"><i class="fa fa-bell" aria-hidden="true"></i>уведомления</a></li>
            <li><a class="settings-icon" href="settings.html"><i class="fa fa-cog" aria-hidden="true"></i>Настройки</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="cabinet-inner">
      <div class="cabinet-head">
        <div class="cabinet-home">
          <div class="home">
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
          </div>
          <div class="notification">
            <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
            <!-- <div class="notification-count">2</div> -->
          </div>
        </div>
        <div class="logo">
          <a href="#"><img src="%=static=%img/general/logo-main.png" alt=""></a>
        </div>
        <div class="cabinet-out">
          <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="goverment-head">
        <div class="comp-head">
          <ul>
            <li><a class="active" href="#">Государственные <span>(2450)</span></a></li>
            <li><a href="#">Коммерческие <span>(5471)</span></a></li>
            <li><a href="#">Я участвую <span>(2)</span></a></li>
            <li><a href="#">Избранное <span>(0)</span></a></li>
          </ul>
          <div class="tenders-form">
            <div class="tender-input">
              <input type="search" placeholder="Начните вводить, к примеру, “древесина”">
            </div>
            <div class="filter">
              <div class="dkpp">
                <a href="#">ДКПП</a>
              </div>
              <div class="cpv">
                <a href="#">CPV</a>
              </div>
              <div class="location">
          <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
        </div>
        <div class="money">
          <a href="#"><i class="fa fa-usd" aria-hidden="true"></i></a>
        </div>
        <div class="calendar">
          <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
        </div>
            </div>
            <div class="find-tender-btn find-icon">
              <button></button>
            </div>
          </div>
        </div>
      </div>
      <div class="all-tenders">
        <div class="tender">
          <div class="tender-bookmark">
            <a class="active" href="#!"></a>
          </div>
          <div class="tender-head">
            <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
            <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
            <div class="customer">
              <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
              <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
            </div>
          </div>
          <div class="tender-price">
            <div class="price">256 242 676,51 <span>грн</span></div>
            <span>общая цена</span>
            <div class="progress-bar">
              <progress max="100" value="80"></progress>
              <p>окончание: 21.07.1990 в 22:03</p>
            </div>
          </div>
          <div class="tender-btn">
            <a href="#">Участвовать</a>
          </div>
        </div>
        <div class="tender">
          <div class="tender-bookmark">
            <a href="#!"></a>
          </div>
          <div class="tender-head">
            <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
            <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
            <div class="customer">
              <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
              <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
            </div>
          </div>
          <div class="tender-price">
            <div class="price">256 242 676,51 <span>грн</span></div>
            <span>общая цена</span>
            <div class="progress-bar">
              <progress max="100" value="80"></progress>
              <p>окончание: 21.07.1990 в 22:03</p>
            </div>
          </div>
          <div class="tender-btn">
            <a href="#">Участвовать</a>
          </div>
        </div>
        <div class="tender">
          <div class="tender-bookmark">
            <a class="active" href="#!"></a>
          </div>
          <div class="tender-head">
            <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
            <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
            <div class="customer">
              <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
              <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
            </div>
          </div>
          <div class="tender-price">
            <div class="price">256 242 676,51 <span>грн</span></div>
            <span>общая цена</span>
            <div class="progress-bar">
              <progress max="100" value="80"></progress>
              <p>окончание: 21.07.1990 в 22:03</p>
            </div>
          </div>
          <div class="tender-btn">
            <a href="#">Участвовать</a>
          </div>
        </div>
        <div class="tender">
          <div class="tender-bookmark">
            <a href="#!"></a>
          </div>
          <div class="tender-head">
            <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
            <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
            <div class="customer">
              <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
              <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
            </div>
          </div>
          <div class="tender-price">
            <div class="price">256 242 676,51 <span>грн</span></div>
            <span>общая цена</span>
            <div class="progress-bar">
              <progress max="100" value="80"></progress>
              <p>окончание: 21.07.1990 в 22:03</p>
            </div>
          </div>
          <div class="tender-btn">
            <a href="#">Участвовать</a>
          </div>
        </div>
        <div class="tender">
          <div class="tender-bookmark">
            <a href="#!"></a>
          </div>
          <div class="tender-head">
            <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
            <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
            <div class="customer">
              <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
              <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
            </div>
          </div>
          <div class="tender-price">
            <div class="price">256 242 676,51 <span>грн</span></div>
            <span>общая цена</span>
            <div class="progress-bar">
              <progress max="100" value="80"></progress>
              <p>окончание: 21.07.1990 в 22:03</p>
            </div>
          </div>
          <div class="tender-btn">
            <a href="#">Участвовать</a>
          </div>
        </div>
        <div class="tender">
          <div class="tender-bookmark">
            <a class="active" href="#!"></a>
          </div>
          <div class="tender-head">
            <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
            <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
            <div class="customer">
              <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
              <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
            </div>
          </div>
          <div class="tender-price">
            <div class="price">256 242 676,51 <span>грн</span></div>
            <span>общая цена</span>
            <div class="progress-bar">
              <progress max="100" value="80"></progress>
              <p>окончание: 21.07.1990 в 22:03</p>
            </div>
          </div>
          <div class="tender-btn">
            <a href="#">Участвовать</a>
          </div>
        </div>
        <div class="tender">
          <div class="tender-bookmark">
            <a href="#!"></a>
          </div>
          <div class="tender-head">
            <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
            <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
            <div class="customer">
              <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
              <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
            </div>
          </div>
          <div class="tender-price">
            <div class="price">256 242 676,51 <span>грн</span></div>
            <span>общая цена</span>
            <div class="progress-bar">
              <progress max="100" value="80"></progress>
              <p>окончание: 21.07.1990 в 22:03</p>
            </div>
          </div>
          <div class="tender-btn">
            <a href="#">Участвовать</a>
          </div>
        </div>
        <div class="tender">
          <div class="tender-bookmark">
            <a class="active" href="#!"></a>
          </div>
          <div class="tender-head">
            <h3><a href="#!">Оборудование подъемное и грузовое, и детали к нему (Портовые краны)</a></h3>
            <p>Кран полноповоротный электрический с шарнирной стреловой системой на поворотной колонне с... <a href="#">Подробнее</a></p>
            <div class="customer">
              <div class="customer-img"><a href="#!"><img src="%=static=%img/general/customer.png" alt=""></a></div>
              <div class="customer-name"><a href="#">Гос. служба Украины по черезвычайным ситуациям</a></div>
            </div>
          </div>
          <div class="tender-price">
            <div class="price">256 242 676,51 <span>грн</span></div>
            <span>общая цена</span>
            <div class="progress-bar">
              <progress max="100" value="80"></progress>
              <p>окончание: 21.07.1990 в 22:03</p>
            </div>
          </div>
          <div class="tender-btn">
            <a href="#">Участвовать</a>
          </div>
        </div>
      </div>
      <div class="more-tenders">
        <a class="btn-red-icon" href="#">больше тендеров</a>
      </div>
    </div>
  </div>
</div>