<div class="cabinet-wrap">
  <div class="cabinets">
    {{> sidebar/sidebar }}
    <div class="settings-head">
        Договір
      </div>
    <div class="verification-wrap">
      <div class="verification">
        <div class="verification-main">
          <div class="verification-head">
            <h3>ДОГОВІР ПРИЄДНАННЯ</h3>
            <p>до регламенту авторизованого електронного майданчику «_________________»</p>
          </div>
          <div class="verification-text">
            <p>Товариство з обмеженою відповідальністю «Електронна платформа України (далі – Оператор), в 	особі генерального директора Штадченко Ярослава Олеговича, що діє на підставі статуту з однієї сторони, та
              ____________________________________________ (далі – Користувач), в особі _______________________________________________________________________, що діє на підставі _____________________________, з іншої сторони, надалі разом іменовані – Сторони, враховуючи, що інформаційно-телекомунікаційна система «Електронний майданчик «ЕЛЕКТРОННА ПЛАТФОРМА УКРАЇНИ» (далі – Електронний майданчик), власником якої є Оператор, доступ до якої здійснюється за допомогою веб-сайту, розміщеного в мережі Інтернет за адресою: www. http://epu.com.ua, авторизована за першим та третім, другим та четвертим рівнями акредитації, уклали цей договір приєднання в розумінні статті 634 Цивільного кодексу України та частини четвертої статті 179 Господарського кодексу України (далі – Договір) про наступне:
            </p>
          </div>
          <div class="verification-lists">
            <div class="verification-head">
              1.	ПРЕДМЕТ ДОГОВОРУ
            </div>
            <div class="verification-text">
              <ol start="5">
                <li><span class="ver-list">1.1</span><span>Користувач на підставі вільного волевиявлення приєднується до умов Договору в цілому та повністю, у тому числі, до Регламенту авторизованого електронного майданчику «ЕЛЕКТРОННА ПЛАТФОРМА УКРАЇНИ» (далі – Регламент), який є його невід’ємною частиною, а Оператор надає Користувачу послуги з використання системи електронних закупівель через веб-сайт Електронного майданчика, який розташований в мережі Інтернет за веб-адресою www. http://epu.com.ua (далі – Веб-сайт).</span></li>
                <li><span class="ver-list">1.2</span><span>Склад та перелік послуг, що надаються Користувачу Оператором визначаються нормативно-правовими актами у сфері закупівель, в тому числі, але не виключно: Законом України «Про публічні закупівлі» від 25.12.2015 № 922-VIII, Порядком функціонування електронної системи закупівель та проведення авторизації електронних майданчиків, затвердженим постановою Кабінету Міністрів України від 24.02.2016 № 166, іншими актами у сфері закупівель та рівнями акредитації Електронного майданчику.</span></li>
                <li><span class="ver-list">1.3</span><span>Загальні умови та порядок надання послуг Користувачу, послуги, що надаються Оператором окремо та безкоштовно замовнику і окремо учаснику, відповідальність Оператора та Користувача визначаються Регламентом.</span></li>
              </ol>
            </div>
            <div class="verification-head">
              2. 	УМОВИ КОРИСТУВАННЯ ТА РЕЄСТРАЦІЯ В ЕЛЕКТРОННІЙ СИСТЕМІ ЗАКУПІВЕЛЬ. АКЦЕПТ ОФЕРТИ
            </div>
            <div class="verification-text">
              <ol start="5">
                <li><span class="ver-list">2.1</span><span>Користувач на підставі вільного волевиявлення приєднується до умов Договору в цілому та повністю, у тому числі, до Регламенту авторизованого електронного майданчику «ЕЛЕКТРОННА ПЛАТФОРМА УКРАЇНИ» (далі – Регламент), який є його невід’ємною частиною, а Оператор надає Користувачу послуги з використання системи електронних закупівель через веб-сайт Електронного майданчика, який розташований в мережі Інтернет за веб-адресою www. http://epu.com.ua (далі – Веб-сайт).</span></li>
                <li><span class="ver-list">2.2</span><span>Склад та перелік послуг, що надаються Користувачу Оператором визначаються нормативно-правовими актами у сфері закупівель, в тому числі, але не виключно: Законом України «Про публічні закупівлі» від 25.12.2015 № 922-VIII, Порядком функціонування електронної системи закупівель та проведення авторизації електронних майданчиків, затвердженим постановою Кабінету Міністрів України від 24.02.2016 № 166, іншими актами у сфері закупівель та рівнями акредитації Електронного майданчику.</span></li>
                <li><span class="ver-list">2.3</span><span>Загальні умови та порядок надання послуг Користувачу, послуги, що надаються Оператором окремо та безкоштовно замовнику і окремо учаснику, відповідальність Оператора та Користувача визначаються Регламентом.</span></li>
                <li><span class="ver-list">2.3.1</span><span>ідентифікації через отримання Електронним майданчиком банківського платежу від Користувача. Оператор надає рахунок Користувачу для оплати. Користувач здійснює оплату отриманого рахунку з власного розрахункового рахунку з обов’язковим зазначенням реквізитів, вказаних у рахунку. Після перевірки Оператор Електронного майданчика може або повернути платіж Користувачу, або зарахувати його у вигляді плати за реєстрацію відповідно до умов цього Договору;</span></li>
                <li><span class="ver-list">2.3.2</span><span>ідентифікації через підписання договору між Користувачем та Оператором Електронного майданчика.</span></li>
                <li><span class="ver-list">2.4</span><span>Здійснення Користувачем одним із способів, визначених п. 2.3 цього Договору ідентифікації/авторизації на Електронному майданчику, є повним та безумовним акцептом оферти на укладення цього Договору. </span></li>
                <li><span class="ver-list">2.5</span><span>При застосуванні способу ідентифікації/авторизації, передбаченого пп. 2.3.1 п. 2.3 цього Договору, ідентифікація/авторизація Користувача в якості саме Замовника здійснюється Оператором після одночасного направлення таким Користувачем відповідного звернення на адресу електронної пошти Оператора: info@epu.com.ua.</span></li>
                <li><span class="ver-list">2.6</span><span>Користувач Електронного майданчику – Замовник, з метою здійснення публічної закупівлі, повинен авторизуватись як Замовник. Авторизуючись в якості Замовника, Користувач підтверджує правомірність застосування ним електронної системи закупівель в якості Замовника.</span></li>
                <li><span class="ver-list">2.7</span><span>Замовник самостійно та безоплатно через Електронний майданчик оприлюднює на веб-порталі Уповноваженого органу в порядку, встановленому Уповноваженим органом та законом, інформацію про закупівлю.</span></li>
                <li><span class="ver-list">2.8</span><span>Користувач, який має намір прийняти участь в оголошеній процедурі закупівлі як постачальник товару (товарів), надавач послуги (послуг) та/або виконавця робіт, повинен авторизуватись як Учасник, одним із способів, зазначених у п. 2.3 цього Договору.</span></li>
              </ol>
            </div>
            <div class="verification-head">
              3. ОПЛАТА ПОСЛУГ ОПЕРАТОРА ТА ПЛАТІЖ ЗА РЕЄСТРАЦІЮ
            </div>
            <div class="verification-text">
              <ol start="5">
                <li><span class="ver-list">3.1</span><span>Послуги, передбачені цим Договором та законодавством про публічні закупівлі, в тому числі реєстрація, надаються Електронним майданчиком Замовнику безкоштовно.</span></li>
                <li><span class="ver-list">3.2</span><span>У випадку реєстрації в електронній системі закупівель в якості Замовника у спосіб зазначений у пп. 2.3.1 п. 2.3 цього Договору, Користувач сплачує платіж у розмірі 0,01 гривні (одна копійка). Після перевірки даний платіж повертається Оператором Замовнику протягом 3 (трьох) банківських днів.</span></li>
                <li><span class="ver-list">3.3</span><span>За реєстрацію в електронній системі закупівель в якості Учасника Користувач сплачує платіж у розмірі 10,00 гривень (десять гривень). Платіж Користувача за реєстрацію в якості Учасника зараховується на його баланс та списується Оператором як плата за реєстрацію.</span></li>
                <li>
                  <span class="ver-list">3.4</span>
                  <span>
                    За подання Учасником тендерної пропозиції, що була розкрита електронною системою закупівель, Оператором з Учасника справляється плата у розмірі:
                    <ul>
                      <li>- у разі, коли вартість закупівлі становить не більш як 20 тис. гривень - один неоподатковуваний мінімум доходів громадян;</li>
                      <li>- у разі, коли вартість закупівлі становить не більш як 50 тис. гривень - сім неоподатковуваних мінімумів доходів громадян;</li>
                      <li>- у разі, коли вартість закупівлі становить не більш як 200 тис. гривень - двадцять неоподатковуваних мінімумів доходів громадян;</li>
                      <li>- у разі, коли вартість закупівлі становить не більш як 1 млн. гривень - тридцять неоподатковуваних мінімумів доходів громадян;</li>
                      <li>- у разі, коли вартість закупівлі становить більш як 1 млн. гривень - сто неоподатковуваних мінімумів доходів громадян</li>
                    </ul>
                  </span>
                </li>
                <li><span class="ver-list">3.5</span><span>Послуги Оператора за подання Учасником тендерної пропозиції у розмірі, визначеному п. 3.4 цього Договору, сплачуються Учасником на умовах 100% попередньої оплати шляхом списання грошових коштів з балансу Учасника (сервіс автоматизованого робочого місця Учасника, що відображає рух грошових коштів Учасника, що надійшли на рахунок Оператора в якості авансу та які можуть бути використані в якості оплати послуг Оператора) в момент розкриття тендерної пропозиції.</span></li>
                <li><span class="ver-list">3.6</span><span>Подання Учасником тендерної пропозиції та надання Оператором Учаснику такої послуги здійснюються за умови наявності на балансі Учасника грошових коштів в розмірі, не меншому ніж розмір плати, визначений п. 3.4 цього Договору.</span></li>
                <li>
                  <span class="ver-list">3.7</span>
                  <span>
                    Поповнення балансу Учасника здійснюється в наступному порядку:
                    <ul>
                      <li>- отримання Учасником від Оператора рахунку, що містить індивідуальні реквізити, на суму авансу, визначену Учасником;</li>
                      <li>- зарахування Оператором сплачених грошових коштів на баланс Учасника протягом терміну, визначеного банківською установою.</li>
                    </ul>
                  </span>
                </li>
                <li><span class="ver-list">3.8</span><span>У разі відміни торгів або визнання їх такими, що не відбулися до моменту розкриття тендерних пропозицій, плата, отримана Оператором за подання такої пропозиції, повертається Учаснику. У такому випадку сплачені Учасником грошові кошти за подання такої тендерної пропозиції повертаються Оператором на баланс Учасника.</span></li>
                <li><span class="ver-list">3.9</span><span>Усі розрахунки Сторін за цим Договором, здійснюються у безготівковій формі.</span></li>
                <li><span class="ver-list">3.10</span><span>Акт прийому-передачі наданих послуг складається Оператором в односторонньому порядку протягом 20 (двадцяти) календарних днів з дня фактичного розкриття тендерної пропозиції Учасника.</span></li>
                <li><span class="ver-list">3.10</span><span>Акт прийому-передачі наданих послуг складається Оператором в односторонньому порядку протягом 20 (двадцяти) календарних днів з дня фактичного розкриття тендерної пропозиції Учасника.</span></li>
                <li><span class="ver-list">3.11</span><span>За офіційним зверненням Учасника за адресою електронної пошти info@epu.com.ua, Акт прийому-передачі наданих послуг може бути виготовлений на паперовому носії та направлений Учаснику поштовим зв‘язком, протягом 5 (п‘яти) робочих днів з дня отримання звернення, але не раніше 20 числа місяця наступного місяцю списання коштів з балансу Учасника</span></li>
                <li><span class="ver-list">3.12</span><span>До фактично наданих Оператором послуг не відноситься плата за подання Учасником тендерної пропозиції, за якими не вичерпано можливість відміни торгів або визнання їх такими, що не відбулися до моменту розкриття тендерних пропозицій.</span></li>
              </ol>
            </div>
            <div class="verification-head">
              4.	ВІДПОВІДАЛЬНІСТЬ СТОРІН
            </div>
            <div class="verification-text">
              <ol start="5">
                <li><span class="ver-list">4.1</span><span>За невиконання або неналежне виконання обов'язків за Договором Сторони несуть відповідальність згідно з законодавством України.</span></li>
                <li><span class="ver-list">4.2</span><span>Оператор не несе відповідальності за порушення обміну інформацією, що виникло внаслідок несправності будь-яких засобів телекомунікаційного зв'язку, відключення та перебоїв у мережах живлення, роботі веб-порталу, невідповідність апаратно-технічного комплексу Користувача для роботи в електронній системі закупівель.</span></li>
                <li><span class="ver-list">4.3</span><span>Сторони несуть повну відповідальність за правильність вказаних ними у цьому Договорі реквізитів та зобов'язуються своєчасно повідомляти про їх заміну, а в разі не повідомлення несуть ризик настання пов'язаних із цим несприятливих наслідків.</span></li>
                о та безоплатно через Електронний майданчик оприлюднює на веб-порталі Уповноваженого органу в порядку, встановленому Уповноваженим органом та законом, інформацію про закупівлю.</span></li>
                <li><span class="ver-list">4.4</span><span>У разі надання Користувачем при реєстрації та/або ідентифікації недостовірних даних та/або не достовірних документів, Оператор не несе відповідальності за пов'язані з цим наслідки.</span></li>
                <li><span class="ver-list">4.5</span><span>Спірні питання, що виникають між Сторонами у процесі виконання Договору вирішуються шляхом проведення переговорів, а у разі недосягнення згоди – згідно з законодавством України.</span></li>
              </ol>
            </div>
            <div class="verification-head">
              5.	СТРОК ДІЇ ДОГОВОРУ
            </div>
            <div class="verification-text">
              <ol start="5">
              <li><span class="ver-list">5.1</span><span>Договір набирає чинності з моменту його укладення (підписання) Сторонами або акцепту його публічної оферти і діє до повного виконання обов'язків Сторонами.</span></li>
            </div>
            <div class="verification-head">
              6.	ЗАКЛЮЧНІ ПОЛОЖЕННЯ
            </div>
            <div class="verification-text">
              <ol>
                <li><span class="ver-list">6.1</span><span>Актуальна редакція публічної оферти Договору та Регламенту знаходяться у вільному доступі на Веб-сайті Оператора.</span></li>
                <li><span class="ver-list">6.2</span><span>Внесення змін та доповнень до Договору, у тому числі, Регламенту, здійснюється Оператором в односторонньому порядку з повідомленням про це на Веб-сайті. Такі зміни та доповнення набирають чинності з моменту їх відображення на Веб-сайті.</span></li>
                <li><span class="ver-list">6.3</span><span>Ця редакція Договору про приєднання до Регламенту авторизованого електронного майданчику «ЕЛЕКТРОННА ПЛАТФОРМА УКРАЇНИ», прийнята на заміну усіх попередніх редакцій та є чинною як для нових користувачів, так і для користувачів, що уклали такий договір раніше.</span></li>
                <li><span class="ver-list">6.4</span><span>Представники Сторін, уповноваженні на укладання цього Договору, погодились, що персональні дані, які стали відомі Сторонам у зв'язку з укладанням даного Договору, включаються до баз персональних даних Сторін. Укладаючи цей Договір, уповноважені представники Сторін дають згоду (дозвіл) на обробку їх персональних даних з метою підтвердження повноваження суб'єкта на укладання, зміну та розірвання Договору, забезпечення реалізації адміністративно-правових і податкових відносин, відносин у сфері бухгалтерського обліку та статистики, а також для забезпечення реалізації інших передбачених законодавством відносин, у тому числі, для поширення (розповсюдження та/або оприлюднення) таких даних на веб-сайті Електронного майданчику.</span></li>
                <li><span class="ver-list">6.5</span><span>Передача персональних даних третім особам здійснюється лише у випадках, передбачених законодавством України. Передача персональних даних третім особам, у випадках не передбачених законодавством, здійснюється лише за згодою Сторін. Представники Сторін підписанням цього Договору підтверджують, що вони повідомлені про свої права відповідно до статті 8 Закону України «Про захист персональних даних».</span></li>
              </ol>
            </div>
            <div class="verification-head">
              7.	СТРОК ДІЇ ДОГОВОРУ
            </div>
            <div class="verification-text">
              <ul>
                <li>ТОВ «Електронна платформа України»</li>
                <li>01135, м. Київ, вул.. Жилянська, 101, </li>
                <li>5 поверх, приміщення 1</li>
                <li>Код ЄДРПОУ  40599389</li>
                <li>р/р № 26005052658226</li>
                <li>в ПАТ КБ «Приватбанк»</li>
                <li>МФО 320649</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="verifications-buttons">
        	<div class="btn-agree">
        		<button class="btn-green" type="submit">Cогласиться</button>
        	</div>
        	<div class="btn-disagree">
        		<button class="btn-red" type="submit">Отказаться</button>
        	</div>
        	<div class="btn-example">
        		<button class="btn-grey1" type="submit">Вставить что-то</button>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>